{
  "openapi": "3.0.3",
  "info": {
    "title": "TikTok Shop API",
    "description": "Comprehensive API specification for TikTok Shop Partner Center",
    "version": "1.0.0",
    "contact": {
      "name": "TikTok Shop Partner Center",
      "url": "https://partner.tiktokshop.com"
    }
  },
  "servers": [
    {
      "url": "https://open-api.tiktokglobalshop.com",
      "description": "TikTok Shop Global API Server"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-tts-access-token",
        "description": "Access token for TikTok Shop API authentication"
      }
    },
    "schemas": {
      "Affiliate202309AddShowcaseProductsoldRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309AddShowcaseProductsoldResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponseData": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309AddShowcaseProductsoldResponseDataErrors"
            }
          }
        },
        "required": [
          "errors"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponseDataErrors": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "detail": {
            "$ref": "#/components/schemas/Affiliate202309AddShowcaseProductsoldResponseDataErrorsDetail"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "detail",
          "message"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponseDataErrorsDetail": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          }
        },
        "required": [
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetCreatorProfileoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetCreatorProfileoldResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetCreatorProfileoldResponseData": {
        "type": "object",
        "properties": {
          "avatar": {
            "$ref": "#/components/schemas/Affiliate202309GetCreatorProfileoldResponseDataAvatar"
          },
          "partner_id": {
            "type": "string"
          },
          "partner_name": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "register_region": {
            "type": "string"
          },
          "selection_region": {
            "type": "string"
          },
          "seller_type": {
            "type": "string"
          },
          "user_name": {
            "type": "string"
          },
          "user_type": {
            "type": "string"
          }
        },
        "required": [
          "avatar",
          "partner_id",
          "partner_name",
          "permissions",
          "register_region",
          "selection_region",
          "seller_type",
          "user_name",
          "user_type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetCreatorProfileoldResponseDataAvatar": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "width": {
            "type": "number"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetLiveRoomInfoResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetLiveRoomInfoResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetLiveRoomInfoResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "start_time": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "start_time",
          "status",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseDataProducts"
            }
          }
        },
        "required": [
          "next_page_token",
          "products"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseDataProducts": {
        "type": "object",
        "properties": {
          "added_status": {
            "type": "string"
          },
          "brand_name": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseDataProductsImages"
            }
          },
          "price": {
            "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseDataProductsPrice"
          },
          "sales_count": {
            "type": "number"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "added_status",
          "brand_name",
          "id",
          "images",
          "price",
          "sales_count",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseDataProductsImages": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "width": {
            "type": "number"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseDataProductsPrice": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseData": {
        "type": "object",
        "properties": {
          "live_product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "next_page_token": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProducts"
            }
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "live_product_ids",
          "next_page_token",
          "products",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProducts": {
        "type": "object",
        "properties": {
          "addition": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsAddition"
          },
          "commission": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsCommission"
          },
          "detail_url": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "main_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsMainImages"
            }
          },
          "original_url": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPrice"
          },
          "sale_regions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shop_name": {
            "type": "string"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsStatus"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "addition",
          "commission",
          "detail_url",
          "id",
          "main_images",
          "original_url",
          "price",
          "sale_regions",
          "shop_name",
          "source",
          "status",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsAddition": {
        "type": "object",
        "properties": {
          "customized_main_image": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsAdditionCustomizedMainImage"
            }
          }
        },
        "required": [
          "customized_main_image"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsAdditionCustomizedMainImage": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "width": {
            "type": "number"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsCommission": {
        "type": "object",
        "properties": {
          "commission_rate": {
            "type": "number"
          },
          "inclusive_reward_commission_rate": {
            "type": "number"
          }
        },
        "required": [
          "commission_rate",
          "inclusive_reward_commission_rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsMainImages": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "width": {
            "type": "number"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPrice": {
        "type": "object",
        "properties": {
          "original_price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceOriginalPrice"
          },
          "platform_discount_price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPricePlatformDiscountPrice"
          },
          "seller_discount_price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceSellerDiscountPrice"
          }
        },
        "required": [
          "original_price",
          "platform_discount_price",
          "seller_discount_price"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceOriginalPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "highest_amount": {
            "type": "string"
          },
          "lowest_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "highest_amount",
          "lowest_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPricePlatformDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "highest_amount": {
            "type": "string"
          },
          "lowest_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "highest_amount",
          "lowest_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceSellerDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "highest_amount": {
            "type": "string"
          },
          "lowest_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "highest_amount",
          "lowest_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsStatus": {
        "type": "object",
        "properties": {
          "added_status": {
            "type": "string"
          },
          "inventory_status": {
            "type": "string"
          },
          "is_hidden": {
            "type": "boolean"
          },
          "review_status": {
            "type": "string"
          }
        },
        "required": [
          "added_status",
          "inventory_status",
          "is_hidden",
          "review_status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309RemoveShowcaseProductsoldRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309RemoveShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309TopShowcaseProductsoldRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309TopShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202402CheckAnchorPrerequisitesRequestBody": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          }
        },
        "required": [
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202402CheckAnchorPrerequisitesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202403CheckAnchorContentRequestBody": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string"
          }
        },
        "required": [
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202403CheckAnchorContentResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsRequestBody": {
        "type": "object",
        "properties": {
          "add_type": {
            "type": "string"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "product_link": {
            "type": "string"
          }
        },
        "required": [
          "add_type",
          "product_ids",
          "product_link"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsResponseDataErrors"
            }
          }
        },
        "required": [
          "errors"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponseDataErrors": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "detail": {
            "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsResponseDataErrorsDetail"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "detail",
          "message"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponseDataErrorsDetail": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string"
          }
        },
        "required": [
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody": {
        "type": "object",
        "properties": {
          "category": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCategory"
          },
          "commission_rate_range": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCommissionRateRange"
          },
          "sales_price_range": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodySalesPriceRange"
          },
          "title_keywords": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "category",
          "commission_rate_range",
          "sales_price_range",
          "title_keywords"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          }
        },
        "required": [
          "id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCommissionRateRange": {
        "type": "object",
        "properties": {
          "rate_ge": {
            "type": "number"
          },
          "rate_lt": {
            "type": "number"
          }
        },
        "required": [
          "rate_ge",
          "rate_lt"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodySalesPriceRange": {
        "type": "object",
        "properties": {
          "amount_ge": {
            "type": "string"
          },
          "amount_lt": {
            "type": "string"
          }
        },
        "required": [
          "amount_ge",
          "amount_lt"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProducts"
            }
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "next_page_token",
          "products",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProducts": {
        "type": "object",
        "properties": {
          "category_chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCategoryChains"
            }
          },
          "commission": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCommission"
          },
          "detail_link": {
            "type": "string"
          },
          "has_inventory": {
            "type": "boolean"
          },
          "id": {
            "type": "string"
          },
          "main_image_url": {
            "type": "string"
          },
          "original_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsOriginalPrice"
          },
          "sale_region": {
            "type": "string"
          },
          "sales_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsSalesPrice"
          },
          "shop": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsShop"
          },
          "title": {
            "type": "string"
          },
          "units_sold": {
            "type": "number"
          }
        },
        "required": [
          "category_chains",
          "commission",
          "detail_link",
          "has_inventory",
          "id",
          "main_image_url",
          "original_price",
          "sale_region",
          "sales_price",
          "shop",
          "title",
          "units_sold"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCategoryChains": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "is_leaf": {
            "type": "boolean"
          },
          "local_name": {
            "type": "string"
          },
          "parent_id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "is_leaf",
          "local_name",
          "parent_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          }
        },
        "required": [
          "amount",
          "currency",
          "rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsOriginalPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "maximum_amount": {
            "type": "string"
          },
          "minimum_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsSalesPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "maximum_amount": {
            "type": "string"
          },
          "minimum_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsShop": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetCreatorProfileResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetCreatorProfileResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetCreatorProfileResponseData": {
        "type": "object",
        "properties": {
          "avatar": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetCreatorProfileResponseDataAvatar"
          },
          "creator_user_id": {
            "type": "string"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "register_region": {
            "type": "string"
          },
          "selection_region": {
            "type": "string"
          },
          "seller_type": {
            "type": "string"
          },
          "user_type": {
            "type": "string"
          },
          "username": {
            "type": "string"
          }
        },
        "required": [
          "avatar",
          "creator_user_id",
          "permissions",
          "register_region",
          "selection_region",
          "seller_type",
          "user_type",
          "username"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetCreatorProfileResponseDataAvatar": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "width": {
            "type": "number"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProducts"
            }
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "next_page_token",
          "products",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProducts": {
        "type": "object",
        "properties": {
          "addition": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsAddition"
          },
          "collaboration": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaboration"
          },
          "commission": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsCommission"
          },
          "detail_link": {
            "type": "string"
          },
          "id": {
            "type": "string"
          },
          "main_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsMainImages"
            }
          },
          "price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPrice"
          },
          "sale_regions": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shop": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsShop"
          },
          "source": {
            "type": "string"
          },
          "status": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsStatus"
          },
          "third_party_link": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "addition",
          "collaboration",
          "commission",
          "detail_link",
          "id",
          "main_images",
          "price",
          "sale_regions",
          "shop",
          "source",
          "status",
          "third_party_link",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsAddition": {
        "type": "object",
        "properties": {
          "customized_main_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsAdditionCustomizedMainImages"
            }
          }
        },
        "required": [
          "customized_main_images"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsAdditionCustomizedMainImages": {
        "type": "object",
        "properties": {
          "heigth": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "width": {
            "type": "number"
          }
        },
        "required": [
          "heigth",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaboration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "partner": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaborationPartner"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "partner",
          "type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaborationPartner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsCommission": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "number"
          },
          "reward_rate": {
            "type": "number"
          }
        },
        "required": [
          "rate",
          "reward_rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsMainImages": {
        "type": "object",
        "properties": {
          "heigth": {
            "type": "number"
          },
          "url": {
            "type": "string"
          },
          "width": {
            "type": "number"
          }
        },
        "required": [
          "heigth",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPrice": {
        "type": "object",
        "properties": {
          "original_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceOriginalPrice"
          },
          "platform_discount_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPricePlatformDiscountPrice"
          },
          "seller_discount_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceSellerDiscountPrice"
          }
        },
        "required": [
          "original_price",
          "platform_discount_price",
          "seller_discount_price"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceOriginalPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "maximum_amount": {
            "type": "string"
          },
          "minimum_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPricePlatformDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "maximum_amount": {
            "type": "string"
          },
          "minimum_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceSellerDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          },
          "maximum_amount": {
            "type": "string"
          },
          "minimum_amount": {
            "type": "string"
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsShop": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          }
        },
        "required": [
          "name"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsStatus": {
        "type": "object",
        "properties": {
          "added_status": {
            "type": "string"
          },
          "inventory_status": {
            "type": "string"
          },
          "is_hidden": {
            "type": "boolean"
          },
          "review_status": {
            "type": "string"
          }
        },
        "required": [
          "added_status",
          "inventory_status",
          "is_hidden",
          "review_status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorAffiliateOrdersResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrders"
            }
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "next_page_token",
          "orders",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrders": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrdersLineItems"
            }
          }
        },
        "required": [
          "id",
          "line_items"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrdersLineItems": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string"
          },
          "keyword_type": {
            "type": "string"
          },
          "shop_id": {
            "type": "string"
          }
        },
        "required": [
          "keyword",
          "keyword_type",
          "shop_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "target_collaborations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborations"
            }
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "next_page_token",
          "target_collaborations",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborations": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProducts"
            }
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "products",
          "status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProducts": {
        "type": "object",
        "properties": {
          "commission": {
            "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProductsCommission"
          },
          "id": {
            "type": "string"
          },
          "main_image_url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "commission",
          "id",
          "main_image_url",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProductsCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          }
        },
        "required": [
          "amount",
          "currency",
          "rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkRequestBody": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string"
          },
          "material": {
            "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkRequestBodyMaterial"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "channel",
          "material",
          "tags"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkRequestBodyMaterial": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseData": {
        "type": "object",
        "properties": {
          "affiliate_sharing_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataAffiliateSharingLinks"
            }
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrors"
            }
          }
        },
        "required": [
          "affiliate_sharing_links",
          "errors"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataAffiliateSharingLinks": {
        "type": "object",
        "properties": {
          "affiliate_sharing_link": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "affiliate_sharing_link",
          "tag"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrors": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "detail": {
            "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrorsDetail"
          },
          "message": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "detail",
          "message"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrorsDetail": {
        "type": "object",
        "properties": {
          "fail_reason": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          }
        },
        "required": [
          "fail_reason",
          "tag"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsRequestBody": {
        "type": "object",
        "properties": {
          "fulfillment_statuses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "fulfillment_statuses"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseData": {
        "type": "object",
        "properties": {
          "fulfillments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseDataFulfillments"
            }
          }
        },
        "required": [
          "fulfillments"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseDataFulfillments": {
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string"
          },
          "bound_product_status": {
            "type": "string"
          },
          "expiration_time": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          },
          "sample_application_type": {
            "type": "string"
          },
          "shop_id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_suspend_duration": {
            "type": "number"
          }
        },
        "required": [
          "application_id",
          "bound_product_status",
          "expiration_time",
          "id",
          "product_id",
          "sample_application_type",
          "shop_id",
          "status",
          "total_suspend_duration"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409RemoveShowcaseProductsRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409RemoveShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202409RemoveShowcaseProductsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409RemoveShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409TopShowcaseProductsRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409TopShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202409TopShowcaseProductsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409TopShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersRequestBody": {
        "type": "object",
        "properties": {
          "create_time_ge": {
            "type": "number"
          },
          "create_time_lt": {
            "type": "number"
          }
        },
        "required": [
          "create_time_ge",
          "create_time_lt"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrders"
            }
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "next_page_token",
          "orders",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrders": {
        "type": "object",
        "properties": {
          "create_time": {
            "type": "number"
          },
          "delivery_time": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "skus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkus"
            }
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "create_time",
          "delivery_time",
          "id",
          "skus",
          "status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkus": {
        "type": "object",
        "properties": {
          "actual_bonus_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualBonusCommission"
          },
          "actual_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCommission"
          },
          "actual_commission_base": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCommissionBase"
          },
          "actual_creator_commission_reward_fee": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCreatorCommissionRewardFee"
          },
          "actual_shop_ads_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualShopAdsCommission"
          },
          "campaign_id": {
            "type": "string"
          },
          "commission_bonus_rate": {
            "type": "number"
          },
          "commission_model": {
            "type": "string"
          },
          "commission_rate": {
            "type": "number"
          },
          "commission_tier_setting": {
            "type": "string"
          },
          "content_id": {
            "type": "string"
          },
          "content_type": {
            "type": "string"
          },
          "creator_commission_reward_rate": {
            "type": "number"
          },
          "estimated_bonus_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedBonusCommission"
          },
          "estimated_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedCommission"
          },
          "estimated_commission_base": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedCommissionBase"
          },
          "estimated_creator_commission_reward_fee": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedCreatorCommissionRewardFee"
          },
          "estimated_shop_ads_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedShopAdsCommission"
          },
          "id": {
            "type": "string"
          },
          "open_collaboration_id": {
            "type": "string"
          },
          "price": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusPrice"
          },
          "product_id": {
            "type": "string"
          },
          "product_name": {
            "type": "string"
          },
          "quantity": {
            "type": "number"
          },
          "refunded_quantity": {
            "type": "number"
          },
          "returned_quantity": {
            "type": "number"
          },
          "shop_ads_commission_rate": {
            "type": "number"
          },
          "shop_name": {
            "type": "string"
          },
          "tag": {
            "type": "string"
          },
          "target_collaboration_id": {
            "type": "string"
          }
        },
        "required": [
          "actual_bonus_commission",
          "actual_commission",
          "actual_commission_base",
          "actual_creator_commission_reward_fee",
          "actual_shop_ads_commission",
          "campaign_id",
          "commission_bonus_rate",
          "commission_model",
          "commission_rate",
          "commission_tier_setting",
          "content_id",
          "content_type",
          "creator_commission_reward_rate",
          "estimated_bonus_commission",
          "estimated_commission",
          "estimated_commission_base",
          "estimated_creator_commission_reward_fee",
          "estimated_shop_ads_commission",
          "id",
          "open_collaboration_id",
          "price",
          "product_id",
          "product_name",
          "quantity",
          "refunded_quantity",
          "returned_quantity",
          "shop_ads_commission_rate",
          "shop_name",
          "tag",
          "target_collaboration_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualBonusCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCommissionBase": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCreatorCommissionRewardFee": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualShopAdsCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedBonusCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedCommissionBase": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedCreatorCommissionRewardFee": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusEstimatedShopAdsCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusPrice": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorApplicableSampleLabelResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorApplicableSampleLabelResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorApplicableSampleLabelResponseData": {
        "type": "object",
        "properties": {
          "label": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabel"
          }
        },
        "required": [
          "label"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabel": {
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string"
          },
          "can_apply": {
            "type": "boolean"
          },
          "reach_limit": {
            "type": "boolean"
          },
          "sample_product": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProduct"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "application_id",
          "can_apply",
          "reach_limit",
          "sample_product",
          "status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProduct": {
        "type": "object",
        "properties": {
          "sample_sku_list": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProductSampleSkuList"
            }
          }
        },
        "required": [
          "sample_sku_list"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProductSampleSkuList": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "is_available": {
            "type": "boolean"
          },
          "price": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProductSampleSkuListPrice"
          },
          "sale_properties": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProductSampleSkuListSaleProperties"
            }
          },
          "sale_property_value_ids": {
            "type": "string"
          },
          "unavailable_reason": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "is_available",
          "price",
          "sale_properties",
          "sale_property_value_ids",
          "unavailable_reason"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProductSampleSkuListPrice": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorApplicableSampleLabelResponseDataLabelSampleProductSampleSkuListSaleProperties": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "value_id": {
            "type": "string"
          },
          "value_name": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "value_id",
          "value_name"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorSampleApplicationDetailRequestBody": {
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string"
          },
          "application_type": {
            "type": "string"
          },
          "main_order_id": {
            "type": "string"
          },
          "product_id": {
            "type": "string"
          }
        },
        "required": [
          "application_id",
          "application_type",
          "main_order_id",
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorSampleApplicationDetailResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorSampleApplicationDetailResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorSampleApplicationDetailResponseData": {
        "type": "object",
        "properties": {
          "sample_application": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorSampleApplicationDetailResponseDataSampleApplication"
          }
        },
        "required": [
          "sample_application"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorSampleApplicationDetailResponseDataSampleApplication": {
        "type": "object",
        "properties": {
          "activity_id": {
            "type": "string"
          },
          "create_time": {
            "type": "number"
          },
          "creator_fulfillment": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorSampleApplicationDetailResponseDataSampleApplicationCreatorFulfillment"
          },
          "id": {
            "type": "string"
          },
          "main_order_id": {
            "type": "string"
          },
          "sample_product": {
            "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorSampleApplicationDetailResponseDataSampleApplicationSampleProduct"
          },
          "status": {
            "type": "string"
          },
          "type": {
            "type": "string"
          }
        },
        "required": [
          "activity_id",
          "create_time",
          "creator_fulfillment",
          "id",
          "main_order_id",
          "sample_product",
          "status",
          "type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorSampleApplicationDetailResponseDataSampleApplicationCreatorFulfillment": {
        "type": "object",
        "properties": {
          "expiration_time": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_suspend_duration": {
            "type": "number"
          }
        },
        "required": [
          "expiration_time",
          "id",
          "status",
          "total_suspend_duration"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412GetCreatorSampleApplicationDetailResponseDataSampleApplicationSampleProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sku_id": {
            "type": "string"
          },
          "sku_sale_property_value_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "sku_id",
          "sku_sale_property_value_names"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412SearchCreatorSampleApplicationsRequestBody": {
        "type": "object",
        "properties": {
          "application_statuses": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "application_statuses"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412SearchCreatorSampleApplicationsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202412SearchCreatorSampleApplicationsResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412SearchCreatorSampleApplicationsResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "sample_applications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202412SearchCreatorSampleApplicationsResponseDataSampleApplications"
            }
          }
        },
        "required": [
          "next_page_token",
          "sample_applications"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412SearchCreatorSampleApplicationsResponseDataSampleApplications": {
        "type": "object",
        "properties": {
          "activity_id": {
            "type": "string"
          },
          "creator_fulfillment": {
            "$ref": "#/components/schemas/AffiliateCreator202412SearchCreatorSampleApplicationsResponseDataSampleApplicationsCreatorFulfillment"
          },
          "id": {
            "type": "string"
          },
          "main_order_id": {
            "type": "string"
          },
          "sample_product": {
            "$ref": "#/components/schemas/AffiliateCreator202412SearchCreatorSampleApplicationsResponseDataSampleApplicationsSampleProduct"
          },
          "status": {
            "type": "string"
          }
        },
        "required": [
          "activity_id",
          "creator_fulfillment",
          "id",
          "main_order_id",
          "sample_product",
          "status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412SearchCreatorSampleApplicationsResponseDataSampleApplicationsCreatorFulfillment": {
        "type": "object",
        "properties": {
          "bound_product_status": {
            "type": "string"
          },
          "expiration_time": {
            "type": "number"
          },
          "id": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "total_suspend_duration": {
            "type": "number"
          }
        },
        "required": [
          "bound_product_status",
          "expiration_time",
          "id",
          "status",
          "total_suspend_duration"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202412SearchCreatorSampleApplicationsResponseDataSampleApplicationsSampleProduct": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "sku_id": {
            "type": "string"
          },
          "sku_sale_property_value_names": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "id",
          "sku_id",
          "sku_sale_property_value_names"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductRequestBody": {
        "type": "object",
        "properties": {
          "filter_params": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParams"
          },
          "sort_params": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductRequestBodySortParams"
          }
        },
        "required": [
          "filter_params",
          "sort_params"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParams": {
        "type": "object",
        "properties": {
          "category_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "commission_rate_range": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsCommissionRateRange"
          },
          "pool_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "price_range": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsPriceRange"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "shop_rating_range": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsShopRatingRange"
          },
          "sold_quantity_range": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsSoldQuantityRange"
          },
          "title_keyword": {
            "type": "string"
          }
        },
        "required": [
          "category_ids",
          "commission_rate_range",
          "pool_ids",
          "price_range",
          "product_ids",
          "shop_rating_range",
          "sold_quantity_range",
          "title_keyword"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsCommissionRateRange": {
        "type": "object",
        "properties": {
          "rate_ge": {
            "type": "number"
          },
          "rate_le": {
            "type": "number"
          }
        },
        "required": [
          "rate_ge",
          "rate_le"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsPriceRange": {
        "type": "object",
        "properties": {
          "price_ge": {
            "type": "string"
          },
          "price_le": {
            "type": "string"
          }
        },
        "required": [
          "price_ge",
          "price_le"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsShopRatingRange": {
        "type": "object",
        "properties": {
          "rating_ge": {
            "type": "number"
          },
          "rating_le": {
            "type": "number"
          }
        },
        "required": [
          "rating_ge",
          "rating_le"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductRequestBodyFilterParamsSoldQuantityRange": {
        "type": "object",
        "properties": {
          "quantity_ge": {
            "type": "number"
          },
          "quantity_le": {
            "type": "number"
          }
        },
        "required": [
          "quantity_ge",
          "quantity_le"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductRequestBodySortParams": {
        "type": "object",
        "properties": {
          "sort_type": {
            "type": "string"
          }
        },
        "required": [
          "sort_type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number"
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseData"
          },
          "message": {
            "type": "string"
          },
          "request_id": {
            "type": "string"
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProducts"
            }
          },
          "total_count": {
            "type": "number"
          }
        },
        "required": [
          "next_page_token",
          "products",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProducts": {
        "type": "object",
        "properties": {
          "brand_name": {
            "type": "string"
          },
          "commission": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsCommission"
          },
          "id": {
            "type": "string"
          },
          "main_image_url": {
            "type": "string"
          },
          "market_performance": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsMarketPerformance"
          },
          "price": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsPrice"
          },
          "review": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsReview"
          },
          "shop": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsShop"
          },
          "stock": {
            "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsStock"
          },
          "title": {
            "type": "string"
          }
        },
        "required": [
          "brand_name",
          "commission",
          "id",
          "main_image_url",
          "market_performance",
          "price",
          "review",
          "shop",
          "stock",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          }
        },
        "required": [
          "amount",
          "rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsMarketPerformance": {
        "type": "object",
        "properties": {
          "historical_sold_quantity": {
            "type": "number"
          }
        },
        "required": [
          "historical_sold_quantity"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202501CreatorSelectAffiliateProductResponseDataProductsPrice": {
        "type": "object",
        "properties": {
          "ceiling_price": {
            "type": "string"
          },
          "currency": {
            "type": "string"
          },
          "floor_price": {
            "type": "string"
          }
        },
        "required": [
          "ceiling_price",
          "currency",
          "floor_price"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
[...]
