{
  "openapi": "3.0.0",
  "info": {
    "title": "TikTok Shop OpenAPI",
    "description": "SDK for TikTok Shop APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open-api.tiktokglobalshop.com",
      "description": "TikTok Shop API Server"
    }
  ],
  "paths": {
    "/affiliate_creator/202405/open_collaborations/products/search": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "OpenCollaborationsProductsSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/orders/search": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "OrdersSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorAffiliateOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/profiles": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "ProfilesGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202405GetCreatorProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/showcases/products/add": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "ShowcasesProductsAddPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/showcases/products": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "ShowcasesProductsGet",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/target_collaborations/search": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "TargetCollaborationsSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202407/affiliate_sharing_links/generate_batch": {
      "get": {
        "summary": "GenerateAffiliateSharingLink",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202407GenerateAffiliateSharingLinkRequestBody } from '../model/affiliateCreator/V202407/GenerateAffiliateSharingLinkRequestBody';\nimport { AffiliateCreator202407GenerateAffiliateSharingLinkResponse } from '../model/affiliateCreator/V202407/GenerateAffiliateSharingLinkResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202407ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202407Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202407Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202407ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202407ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Use externally input material id, distributor customized tags, promotion channel and other needed parameters to generate affiliate share link, which contains chain keys.",
        "operationId": "AffiliateSharingLinksGenerateBatchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202409/sample_applications/fulfillments/search": {
      "get": {
        "summary": "CreatorSearchSampleApplicationFulfillments",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsRequestBody } from '../model/affiliateCreator/V202409/CreatorSearchSampleApplicationFulfillmentsRequestBody';\nimport { AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponse } from '../model/affiliateCreator/V202409/CreatorSearchSampleApplicationFulfillmentsResponse';\nimport { AffiliateCreator202409RemoveShowcaseProductsRequestBody } from '../model/affiliateCreator/V202409/RemoveShowcaseProductsRequestBody';\nimport { AffiliateCreator202409RemoveShowcaseProductsResponse } from '../model/affiliateCreator/V202409/RemoveShowcaseProductsResponse';\nimport { AffiliateCreator202409TopShowcaseProductsRequestBody } from '../model/affiliateCreator/V202409/TopShowcaseProductsRequestBody';\nimport { AffiliateCreator202409TopShowcaseProductsResponse } from '../model/affiliateCreator/V202409/TopShowcaseProductsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202409ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202409Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202409Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202409ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202409ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      You, the creator, can use this API to query the fulfillment status for the received sample applications.",
        "operationId": "SampleApplicationsFulfillmentsSearchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202409/showcases/products": {
      "get": {
        "summary": "CreatorSearchSampleApplicationFulfillments",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsRequestBody } from '../model/affiliateCreator/V202409/CreatorSearchSampleApplicationFulfillmentsRequestBody';\nimport { AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponse } from '../model/affiliateCreator/V202409/CreatorSearchSampleApplicationFulfillmentsResponse';\nimport { AffiliateCreator202409RemoveShowcaseProductsRequestBody } from '../model/affiliateCreator/V202409/RemoveShowcaseProductsRequestBody';\nimport { AffiliateCreator202409RemoveShowcaseProductsResponse } from '../model/affiliateCreator/V202409/RemoveShowcaseProductsResponse';\nimport { AffiliateCreator202409TopShowcaseProductsRequestBody } from '../model/affiliateCreator/V202409/TopShowcaseProductsRequestBody';\nimport { AffiliateCreator202409TopShowcaseProductsResponse } from '../model/affiliateCreator/V202409/TopShowcaseProductsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202409ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202409Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202409Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202409ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202409ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      You, the creator, can use this API to query the fulfillment status for the received sample applications.",
        "operationId": "ShowcasesProductsDelete",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202409RemoveShowcaseProductsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202409RemoveShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202409/showcases/products/top": {
      "get": {
        "summary": "CreatorSearchSampleApplicationFulfillments",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsRequestBody } from '../model/affiliateCreator/V202409/CreatorSearchSampleApplicationFulfillmentsRequestBody';\nimport { AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponse } from '../model/affiliateCreator/V202409/CreatorSearchSampleApplicationFulfillmentsResponse';\nimport { AffiliateCreator202409RemoveShowcaseProductsRequestBody } from '../model/affiliateCreator/V202409/RemoveShowcaseProductsRequestBody';\nimport { AffiliateCreator202409RemoveShowcaseProductsResponse } from '../model/affiliateCreator/V202409/RemoveShowcaseProductsResponse';\nimport { AffiliateCreator202409TopShowcaseProductsRequestBody } from '../model/affiliateCreator/V202409/TopShowcaseProductsRequestBody';\nimport { AffiliateCreator202409TopShowcaseProductsResponse } from '../model/affiliateCreator/V202409/TopShowcaseProductsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202409ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202409Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202409Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202409ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202409ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      You, the creator, can use this API to query the fulfillment status for the received sample applications.",
        "operationId": "ShowcasesProductsTopPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202409TopShowcaseProductsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202409TopShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202410/orders/search": {
      "get": {
        "summary": "SearchCreatorAffiliateOrders",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202410SearchCreatorAffiliateOrdersRequestBody } from '../model/affiliateCreator/V202410/SearchCreatorAffiliateOrdersRequestBody';\nimport { AffiliateCreator202410SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202410/SearchCreatorAffiliateOrdersResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202410ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202410Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202410Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202410ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202410ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Search Creator Affiliate Orders This API allows the partner to retrieve a list of affiliate orders generated by a creator, returning the order ID and the product ID. Using this, the partner can track their affiliate-conversions on behalf of a creator, using the order ID.",
        "operationId": "OrdersSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202412/sample_applications/search": {
      "get": {
        "summary": "SearchCreatorSampleApplications",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202412GetCreatorApplicableSampleLabelResponse } from '../model/affiliateCreator/V202412/GetCreatorApplicableSampleLabelResponse';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailRequestBody } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailRequestBody';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailResponse } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailResponse';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsRequestBody } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsRequestBody';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsResponse } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202412ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202412Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202412Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202412ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202412ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Get sample application list of creator.",
        "operationId": "SampleApplicationsSearchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202412SearchCreatorSampleApplicationsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202412SearchCreatorSampleApplicationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202412/sample_applications/single_query": {
      "get": {
        "summary": "SearchCreatorSampleApplications",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202412GetCreatorApplicableSampleLabelResponse } from '../model/affiliateCreator/V202412/GetCreatorApplicableSampleLabelResponse';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailRequestBody } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailRequestBody';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailResponse } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailResponse';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsRequestBody } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsRequestBody';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsResponse } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202412ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202412Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202412Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202412ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202412ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Get sample application list of creator.",
        "operationId": "SampleApplicationsSingleQueryPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorSampleApplicationDetailRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorSampleApplicationDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202412/samples/labels": {
      "get": {
        "summary": "SearchCreatorSampleApplications",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202412GetCreatorApplicableSampleLabelResponse } from '../model/affiliateCreator/V202412/GetCreatorApplicableSampleLabelResponse';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailRequestBody } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailRequestBody';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailResponse } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailResponse';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsRequestBody } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsRequestBody';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsResponse } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202412ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202412Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202412Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202412ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202412ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Get sample application list of creator.",
        "operationId": "SamplesLabelsGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202412GetCreatorApplicableSampleLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202501/affiliate_sharing_links/generate_batch": {
      "get": {
        "summary": "GenerateAffiliateSharingLink",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202501CreatorSelectAffiliateProductRequestBody } from '../model/affiliateCreator/V202501/CreatorSelectAffiliateProductRequestBody';\nimport { AffiliateCreator202501CreatorSelectAffiliateProductResponse } from '../model/affiliateCreator/V202501/CreatorSelectAffiliateProductResponse';\nimport { AffiliateCreator202501GenerateAffiliateSharingLinkRequestBody } from '../model/affiliateCreator/V202501/GenerateAffiliateSharingLinkRequestBody';\nimport { AffiliateCreator202501GenerateAffiliateSharingLinkResponse } from '../model/affiliateCreator/V202501/GenerateAffiliateSharingLinkResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202501ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202501Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202501Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202501ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202501ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Use externally input material id, distributor customized tags, promotion channel and other needed parameters to generate affiliate share link, which contains chain keys.",
        "operationId": "AffiliateSharingLinksGenerateBatchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202501GenerateAffiliateSharingLinkRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202501GenerateAffiliateSharingLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202501/selection/products/search": {
      "get": {
        "summary": "GenerateAffiliateSharingLink",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202501CreatorSelectAffiliateProductRequestBody } from '../model/affiliateCreator/V202501/CreatorSelectAffiliateProductRequestBody';\nimport { AffiliateCreator202501CreatorSelectAffiliateProductResponse } from '../model/affiliateCreator/V202501/CreatorSelectAffiliateProductResponse';\nimport { AffiliateCreator202501GenerateAffiliateSharingLinkRequestBody } from '../model/affiliateCreator/V202501/GenerateAffiliateSharingLinkRequestBody';\nimport { AffiliateCreator202501GenerateAffiliateSharingLinkResponse } from '../model/affiliateCreator/V202501/GenerateAffiliateSharingLinkResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202501ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202501Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202501Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202501ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202501ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Use externally input material id, distributor customized tags, promotion channel and other needed parameters to generate affiliate share link, which contains chain keys.",
        "operationId": "SelectionProductsSearchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliateCreator202501CreatorSelectAffiliateProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}": {
      "get": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkRequestBody } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkRequestBody';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkResponse } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignDetailResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignDetailResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignListResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignProductListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignProductListResponse';\nimport { AffiliatePartner202405PublishAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/PublishAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductRequestBody } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductRequestBody';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductResponse } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliatePartnerV202405ApiApiKeys {\n}\n\nexport class AffiliatePartnerV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliatePartnerV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliatePartnerV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliatePartnerV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API offers the ability to get affiliate campaign details.",
        "operationId": "CampaignsCampaignIdGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePartner202405GetAffiliatePartnerCampaignDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/partial_edit": {
      "get": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkRequestBody } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkRequestBody';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkResponse } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignDetailResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignDetailResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignListResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignProductListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignProductListResponse';\nimport { AffiliatePartner202405PublishAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/PublishAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductRequestBody } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductRequestBody';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductResponse } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliatePartnerV202405ApiApiKeys {\n}\n\nexport class AffiliatePartnerV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliatePartnerV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliatePartnerV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliatePartnerV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API offers the ability to get affiliate campaign details.",
        "operationId": "CampaignsCampaignIdPartialEditPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AffiliatePartner202405EditAffiliatePartnerCampaignRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AffiliatePartner202405EditAffiliatePartnerCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/products": {
      "get": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkRequestBody } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkRequestBody';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkResponse } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignDetailResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignDetailResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignListResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignProductListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignProductListResponse';\nimport { AffiliatePartner202405PublishAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/PublishAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductRequestBody } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductRequestBody';\n
[...]
