{
  "openapi": "3.0.0",
  "info": {
    "title": "TikTok Shop API",
    "version": "1.0.0",
    "description": "Complete TikTok Shop API specification with all required parameters"
  },
  "servers": [
    {
      "url": "https://open-api.tiktokglobalshop.com",
      "description": "TikTok Shop API Server"
    }
  ],
  "components": {
    "schemas": {
      "RequestDetailedFile": {
        "type": "object",
        "properties": {
          "value": {
            "type": "string"
          },
          "options": {
            "type": "string"
          },
          "filename": {
            "type": "string"
          },
          "contentType": {
            "type": "string"
          }
        },
        "required": [
          "value"
        ]
      },
      "Authentication": {
        "type": "object",
        "properties": {
          "requestOptions": {
            "type": "string"
          }
        },
        "required": [
          "requestOptions"
        ]
      }
    },
    "parameters": {
      "shop_cipher": {
        "name": "shop_cipher",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Shop cipher for identifying the specific shop. This parameter is required for all shop-related operations."
      },
      "app_key": {
        "name": "app_key",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Application key for API authentication"
      },
      "sign": {
        "name": "sign",
        "in": "query",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Request signature for security verification"
      },
      "timestamp": {
        "name": "timestamp",
        "in": "query",
        "required": true,
        "schema": {
          "type": "integer"
        },
        "description": "Unix timestamp of the request"
      },
      "access_token": {
        "name": "x-tts-access-token",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Access token for authenticated requests"
      }
    }
  },
  "paths": {
    "/affiliatecreator/v202405/open-collaborations-products-search-post": {
      "get": {
        "summary": "OpenCollaborationsProductsSearchPost",
        "description": "OpenCollaborationsProductsSearchPost endpoint from affiliateCreatorV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "description": "sortField parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "sortOrder parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202405/orders-search-post": {
      "get": {
        "summary": "OrdersSearchPost",
        "description": "OrdersSearchPost endpoint from affiliateCreatorV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "version parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202405/profiles-get": {
      "get": {
        "summary": "ProfilesGet",
        "description": "ProfilesGet endpoint from affiliateCreatorV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202405/showcases-products-add-post": {
      "post": {
        "summary": "ShowcasesProductsAddPost",
        "description": "ShowcasesProductsAddPost endpoint from affiliateCreatorV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202405/showcases-products-get": {
      "get": {
        "summary": "ShowcasesProductsGet",
        "description": "ShowcasesProductsGet endpoint from affiliateCreatorV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "origin",
            "in": "query",
            "required": true,
            "description": "origin parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202405/target-collaborations-search-post": {
      "get": {
        "summary": "TargetCollaborationsSearchPost",
        "description": "TargetCollaborationsSearchPost endpoint from affiliateCreatorV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202407/affiliate-sharing-links-generate-batch-post": {
      "post": {
        "summary": "AffiliateSharingLinksGenerateBatchPost",
        "description": "AffiliateSharingLinksGenerateBatchPost endpoint from affiliateCreatorV202407Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202409/sample-applications-fulfillments-search-post": {
      "get": {
        "summary": "SampleApplicationsFulfillmentsSearchPost",
        "description": "SampleApplicationsFulfillmentsSearchPost endpoint from affiliateCreatorV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "sortOrder parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "description": "sortField parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202409/showcases-products-delete": {
      "delete": {
        "summary": "ShowcasesProductsDelete",
        "description": "ShowcasesProductsDelete endpoint from affiliateCreatorV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202409/showcases-products-top-post": {
      "post": {
        "summary": "ShowcasesProductsTopPost",
        "description": "ShowcasesProductsTopPost endpoint from affiliateCreatorV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202410/orders-search-post": {
      "get": {
        "summary": "OrdersSearchPost",
        "description": "OrdersSearchPost endpoint from affiliateCreatorV202410Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202412/sample-applications-search-post": {
      "get": {
        "summary": "SampleApplicationsSearchPost",
        "description": "SampleApplicationsSearchPost endpoint from affiliateCreatorV202412Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202412/sample-applications-single-query-post": {
      "post": {
        "summary": "SampleApplicationsSingleQueryPost",
        "description": "SampleApplicationsSingleQueryPost endpoint from affiliateCreatorV202412Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202412/samples-labels-get": {
      "get": {
        "summary": "SamplesLabelsGet",
        "description": "SamplesLabelsGet endpoint from affiliateCreatorV202412Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202501/affiliate-sharing-links-generate-batch-post": {
      "post": {
        "summary": "AffiliateSharingLinksGenerateBatchPost",
        "description": "AffiliateSharingLinksGenerateBatchPost endpoint from affiliateCreatorV202501Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatecreator/v202501/selection-products-search-post": {
      "get": {
        "summary": "SelectionProductsSearchPost",
        "description": "SelectionProductsSearchPost endpoint from affiliateCreatorV202501Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-campaign-id-get": {
      "get": {
        "summary": "CampaignsCampaignIdGet",
        "description": "CampaignsCampaignIdGet endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-campaign-id-partial-edit-post": {
      "post": {
        "summary": "CampaignsCampaignIdPartialEditPost",
        "description": "CampaignsCampaignIdPartialEditPost endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-campaign-id-products-get": {
      "get": {
        "summary": "CampaignsCampaignIdProductsGet",
        "description": "CampaignsCampaignIdProductsGet endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "reviewStatus",
            "in": "query",
            "required": false,
            "description": "reviewStatus parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productName",
            "in": "query",
            "required": false,
            "description": "productName parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "query",
            "required": false,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "shopName",
            "in": "query",
            "required": false,
            "description": "shopName parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryId",
            "in": "query",
            "required": false,
            "description": "categoryId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-campaign-id-products-product-id-promotion-link-generate-post": {
      "post": {
        "summary": "CampaignsCampaignIdProductsProductIdPromotionLinkGeneratePost",
        "description": "CampaignsCampaignIdProductsProductIdPromotionLinkGeneratePost endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-campaign-id-products-product-id-review-post": {
      "post": {
        "summary": "CampaignsCampaignIdProductsProductIdReviewPost",
        "description": "CampaignsCampaignIdProductsProductIdReviewPost endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-campaign-id-publish-post": {
      "post": {
        "summary": "CampaignsCampaignIdPublishPost",
        "description": "CampaignsCampaignIdPublishPost endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-get": {
      "get": {
        "summary": "CampaignsGet",
        "description": "CampaignsGet endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "description": "status parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "type parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "queryTypeFilter",
            "in": "query",
            "required": false,
            "description": "queryTypeFilter parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202405/campaigns-post": {
      "post": {
        "summary": "CampaignsPost",
        "description": "CampaignsPost endpoint from affiliatePartnerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202411/orders-search-post": {
      "get": {
        "summary": "OrdersSearchPost",
        "description": "OrdersSearchPost endpoint from affiliatePartnerV202411Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": true,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202501/campaigns-campaign-id-products-performance-get": {
      "get": {
        "summary": "CampaignsCampaignIdProductsPerformanceGet",
        "description": "CampaignsCampaignIdProductsPerformanceGet endpoint from affiliatePartnerV202501Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202501/campaigns-campaign-id-products-product-id-creator-creator-temp-id-content-statistics-get": {
      "get": {
        "summary": "CampaignsCampaignIdProductsProductIdCreatorCreatorTempIdContentStatisticsGet",
        "description": "CampaignsCampaignIdProductsProductIdCreatorCreatorTempIdContentStatisticsGet endpoint from affiliatePartnerV202501Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTempId",
            "in": "path",
            "required": true,
            "description": "creatorTempId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "affiliateProductId",
            "in": "path",
            "required": true,
            "description": "affiliateProductId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentType2",
            "in": "query",
            "required": true,
            "description": "contentType2 parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202501/campaigns-campaign-id-products-product-id-creator-creator-temp-id-content-statistics-sample-status-get": {
      "get": {
        "summary": "CampaignsCampaignIdProductsProductIdCreatorCreatorTempIdContentStatisticsSampleStatusGet",
        "description": "CampaignsCampaignIdProductsProductIdCreatorCreatorTempIdContentStatisticsSampleStatusGet endpoint from affiliatePartnerV202501Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creatorTempId",
            "in": "path",
            "required": true,
            "description": "creatorTempId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202501/campaigns-campaign-id-products-product-id-performance-get": {
      "get": {
        "summary": "CampaignsCampaignIdProductsProductIdPerformanceGet",
        "description": "CampaignsCampaignIdProductsProductIdPerformanceGet endpoint from affiliatePartnerV202501Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliatepartner/v202505/campaigns-campaign-id-products-promotion-links-generate-batch-post": {
      "post": {
        "summary": "CampaignsCampaignIdProductsPromotionLinksGenerateBatchPost",
        "description": "CampaignsCampaignIdProductsPromotionLinksGenerateBatchPost endpoint from affiliatePartnerV202505Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "campaignId",
            "in": "path",
            "required": true,
            "description": "campaignId parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "categoryAssetCipher",
            "in": "query",
            "required": false,
            "description": "categoryAssetCipher parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202405/open-collaboration-settings-post": {
      "post": {
        "summary": "OpenCollaborationSettingsPost",
        "description": "OpenCollaborationSettingsPost endpoint from affiliateSellerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202405/open-collaborations-open-collaboration-id-remove-creator-post": {
      "post": {
        "summary": "OpenCollaborationsOpenCollaborationIdRemoveCreatorPost",
        "description": "OpenCollaborationsOpenCollaborationIdRemoveCreatorPost endpoint from affiliateSellerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "openCollaborationId",
            "in": "path",
            "required": true,
            "description": "openCollaborationId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202405/open-collaborations-post": {
      "post": {
        "summary": "OpenCollaborationsPost",
        "description": "OpenCollaborationsPost endpoint from affiliateSellerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202405/open-collaborations-products-search-post": {
      "get": {
        "summary": "OpenCollaborationsProductsSearchPost",
        "description": "OpenCollaborationsProductsSearchPost endpoint from affiliateSellerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "sortOrder parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "description": "sortField parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202405/orders-search-post": {
      "get": {
        "summary": "OrdersSearchPost",
        "description": "OrdersSearchPost endpoint from affiliateSellerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "version",
            "in": "query",
            "required": false,
            "description": "version parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202405/products-product-id-promotion-link-generate-post": {
      "post": {
        "summary": "ProductsProductIdPromotionLinkGeneratePost",
        "description": "ProductsProductIdPromotionLinkGeneratePost endpoint from affiliateSellerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202405/target-collaborations-post": {
      "get": {
        "summary": "TargetCollaborationsPost",
        "description": "TargetCollaborationsPost endpoint from affiliateSellerV202405Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202406/marketplace-creators-creator-user-id-get": {
      "get": {
        "summary": "MarketplaceCreatorsCreatorUserIdGet",
        "description": "MarketplaceCreatorsCreatorUserIdGet endpoint from affiliateSellerV202406Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "creatorUserId",
            "in": "path",
            "required": true,
            "description": "creatorUserId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202406/marketplace-creators-search-post": {
      "get": {
        "summary": "MarketplaceCreatorsSearchPost",
        "description": "MarketplaceCreatorsSearchPost endpoint from affiliateSellerV202406Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/open-collaboration-settings-get": {
      "get": {
        "summary": "OpenCollaborationSettingsGet",
        "description": "OpenCollaborationSettingsGet endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/open-collaborations-products-product-id-delete": {
      "delete": {
        "summary": "OpenCollaborationsProductsProductIdDelete",
        "description": "OpenCollaborationsProductsProductIdDelete endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "description": "productId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/open-collaborations-search-post": {
      "get": {
        "summary": "OpenCollaborationsSearchPost",
        "description": "OpenCollaborationsSearchPost endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": true,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortOrder",
            "in": "query",
            "required": false,
            "description": "sortOrder parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortField",
            "in": "query",
            "required": false,
            "description": "sortField parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/sample-applications-application-id-fulfillments-search-post": {
      "get": {
        "summary": "SampleApplicationsApplicationIdFulfillmentsSearchPost",
        "description": "SampleApplicationsApplicationIdFulfillmentsSearchPost endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "applicationId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/sample-applications-application-id-review-post": {
      "post": {
        "summary": "SampleApplicationsApplicationIdReviewPost",
        "description": "SampleApplicationsApplicationIdReviewPost endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "applicationId",
            "in": "path",
            "required": true,
            "description": "applicationId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/sample-applications-search-post": {
      "get": {
        "summary": "SampleApplicationsSearchPost",
        "description": "SampleApplicationsSearchPost endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/target-collaborations-search-post": {
      "get": {
        "summary": "TargetCollaborationsSearchPost",
        "description": "TargetCollaborationsSearchPost endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "description": "pageSize parameter",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "pageToken",
            "in": "query",
            "required": false,
            "description": "pageToken parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/target-collaborations-target-collaboration-id-delete": {
      "get": {
        "summary": "TargetCollaborationsTargetCollaborationIdDelete",
        "description": "TargetCollaborationsTargetCollaborationIdDelete endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "targetCollaborationId",
            "in": "path",
            "required": true,
            "description": "targetCollaborationId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/target-collaborations-target-collaboration-id-get": {
      "get": {
        "summary": "TargetCollaborationsTargetCollaborationIdGet",
        "description": "TargetCollaborationsTargetCollaborationIdGet endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "targetCollaborationId",
            "in": "path",
            "required": true,
            "description": "targetCollaborationId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/affiliateseller/v202409/target-collaborations-target-collaboration-id-put": {
      "get": {
        "summary": "TargetCollaborationsTargetCollaborationIdPut",
        "description": "TargetCollaborationsTargetCollaborationIdPut endpoint from affiliateSellerV202409Api",
        "parameters": [
          {
            "$ref": "#/components/parameters/shop_cipher"
          },
          {
            "$ref": "#/components/parameters/app_key"
          },
          {
            "$ref": "#/components/parameters/sign"
          },
          {
            "$ref": "#/components/parameters/timestamp"
          },
          {
            "$ref": "#/components/parameters/access_token"
          },
          {
            "name": "targetCollaborationId",
            "in": "path",
            "required": true,
            "description": "targetCollaborationId parameter",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer"
                    },
                    "message": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "400": {
[...]
