{
  "openapi": "3.0.3",
  "info": {
    "title": "TikTok Shop API",
    "description": "Comprehensive API specification for TikTok Shop Partner Center",
    "version": "1.0.0",
    "contact": {
      "name": "TikTok Shop Partner Center",
      "url": "https://partner.tiktokshop.com"
    }
  },
  "servers": [
    {
      "url": "https://open-api.tiktokglobalshop.com",
      "description": "TikTok Shop Global API Server"
    }
  ],
  "security": [
    {
      "AccessToken": []
    }
  ],
  "components": {
    "securitySchemes": {
      "AccessToken": {
        "type": "apiKey",
        "in": "header",
        "name": "x-tts-access-token",
        "description": "Access token for TikTok Shop API authentication"
      }
    },
    "schemas": {
      "Affiliate202309AddShowcaseProductsoldRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The product IDs to add to the creator\\'s showcase. The products can be added from my bound shop."
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309AddShowcaseProductsoldResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponseData": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309AddShowcaseProductsoldResponseDataErrors"
            },
            "description": "The errors when adding products to showcase"
          }
        },
        "required": [
          "errors"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponseDataErrors": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The error code when adding the product to showcase"
          },
          "detail": {
            "$ref": "#/components/schemas/Affiliate202309AddShowcaseProductsoldResponseDataErrorsDetail"
          },
          "message": {
            "type": "string",
            "description": "The detailed error message when adding the product to showcase"
          }
        },
        "required": [
          "code",
          "detail",
          "message"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309AddShowcaseProductsoldResponseDataErrorsDetail": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "The failing product ID when the product is added to the creator\\'s showcase"
          }
        },
        "required": [
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetCreatorProfileoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetCreatorProfileoldResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetCreatorProfileoldResponseData": {
        "type": "object",
        "properties": {
          "avatar": {
            "$ref": "#/components/schemas/Affiliate202309GetCreatorProfileoldResponseDataAvatar"
          },
          "partner_id": {
            "type": "string",
            "description": "The creator\\'s bound partner\\'s ID"
          },
          "partner_name": {
            "type": "string",
            "description": "The creator\\'s bound partner\\'s name"
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The creator\\'s granted permissions"
          },
          "register_region": {
            "type": "string",
            "description": "The creator\\'s register region"
          },
          "selection_region": {
            "type": "string",
            "description": "Represents the regions in which creators can promote products in their showcases, videos, and live streams."
          },
          "seller_type": {
            "type": "string",
            "description": "The creator\\'s seller type if a creator has linked to a TikTok seller"
          },
          "user_name": {
            "type": "string",
            "description": "The creator\\'s username in TikTok App Profile page, like creator_abc123"
          },
          "user_type": {
            "type": "string",
            "description": "The creator\\'s user type"
          }
        },
        "required": [
          "avatar",
          "partner_id",
          "partner_name",
          "permissions",
          "register_region",
          "selection_region",
          "seller_type",
          "user_name",
          "user_type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetCreatorProfileoldResponseDataAvatar": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "The image height in pixels"
          },
          "url": {
            "type": "string",
            "description": "The image\\'s URL"
          },
          "width": {
            "type": "number",
            "description": "The image width in pixels"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetLiveRoomInfoResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetLiveRoomInfoResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetLiveRoomInfoResponseData": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The live room\\'s ID"
          },
          "start_time": {
            "type": "number",
            "description": "The start time of broadcasting"
          },
          "status": {
            "type": "string",
            "description": "The live room\\'s status"
          },
          "title": {
            "type": "string",
            "description": "The live room\\'s title"
          }
        },
        "required": [
          "id",
          "start_time",
          "status",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string",
            "description": "The pagination token is a cursor used for pagination. The token is returned in the previous pagination query to determine the current position. It will be empty when there aren\\'t any products to search for."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseDataProducts"
            },
            "description": "The searched product list. It will be empty when there are no search results."
          }
        },
        "required": [
          "next_page_token",
          "products"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseDataProducts": {
        "type": "object",
        "properties": {
          "added_status": {
            "type": "string",
            "description": "Showcase add status with possible values: - ADDABLE - ADDED - REJECTED"
          },
          "brand_name": {
            "type": "string",
            "description": "The brand name a seller has set for a product."
          },
          "id": {
            "type": "string",
            "description": "TikTok product ID."
          },
          "images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseDataProductsImages"
            },
            "description": "Images of a product."
          },
          "price": {
            "$ref": "#/components/schemas/Affiliate202309GetShopProductsResponseDataProductsPrice"
          },
          "sales_count": {
            "type": "number",
            "description": "The number of products that have been sold."
          },
          "title": {
            "type": "string",
            "description": "Product name."
          }
        },
        "required": [
          "added_status",
          "brand_name",
          "id",
          "images",
          "price",
          "sales_count",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseDataProductsImages": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "The height of the product image."
          },
          "url": {
            "type": "string",
            "description": "The URL of the product image."
          },
          "width": {
            "type": "number",
            "description": "The width of the product image."
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShopProductsResponseDataProductsPrice": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "Product price with two decimal places."
          },
          "currency": {
            "type": "string",
            "description": "Product price currency, based on region where creators can sell."
          }
        },
        "required": [
          "amount",
          "currency"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseData": {
        "type": "object",
        "properties": {
          "live_product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The product IDs in the livebag among the products returned in this response."
          },
          "next_page_token": {
            "type": "string",
            "description": "Returns the token to get the next page of products if the response does not return all the products, otherwise returns an empty string."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProducts"
            },
            "description": "The product\\'s detailed info fields"
          },
          "total_count": {
            "type": "number",
            "description": "Returns the total number of products in the showcase."
          }
        },
        "required": [
          "live_product_ids",
          "next_page_token",
          "products",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProducts": {
        "type": "object",
        "properties": {
          "addition": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsAddition"
          },
          "commission": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsCommission"
          },
          "detail_url": {
            "type": "string",
            "description": "The product detail page URL of a Tiktok product"
          },
          "id": {
            "type": "string",
            "description": "The product\\'s product ID"
          },
          "main_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsMainImages"
            },
            "description": "The main images of the products"
          },
          "original_url": {
            "type": "string",
            "description": "The original product URL if the product is a third-party product"
          },
          "price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPrice"
          },
          "sale_regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The regions where the product can be sold"
          },
          "shop_name": {
            "type": "string",
            "description": "The shop name of the seller"
          },
          "source": {
            "type": "string",
            "description": "The source of the product. Field values: THIRD_PARTY: the product is from third-party seller AFFILIATE: the product is from TikTok affiliate seller TIKTOK_STORE: the product is from seller\\'s own store"
          },
          "status": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsStatus"
          },
          "title": {
            "type": "string",
            "description": "The product\\'s title"
          }
        },
        "required": [
          "addition",
          "commission",
          "detail_url",
          "id",
          "main_images",
          "original_url",
          "price",
          "sale_regions",
          "shop_name",
          "source",
          "status",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsAddition": {
        "type": "object",
        "properties": {
          "customized_main_image": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsAdditionCustomizedMainImage"
            },
            "description": "The product\\'s customized main image"
          }
        },
        "required": [
          "customized_main_image"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsAdditionCustomizedMainImage": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "The image height in pixels"
          },
          "url": {
            "type": "string",
            "description": "The image\\'s URL"
          },
          "width": {
            "type": "number",
            "description": "The image width in pixels"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsCommission": {
        "type": "object",
        "properties": {
          "commission_rate": {
            "type": "number",
            "description": "The commission rate for this product is set by merchants for creators\\' public promotion. - The range of this value is [100, 8000].  - This value equals actual commission rate multi 10000. For example: 3000 means the actual commission rate is 30.00%, and 3555 means 35.55%"
          },
          "inclusive_reward_commission_rate": {
            "type": "number",
            "description": "The reward commission rate that has already been included in the total commission rate. - This value equals actual commission rate multi 10000. For example: 3000 means the actual commission rate is 30.00%, and 3555 means 35.55%"
          }
        },
        "required": [
          "commission_rate",
          "inclusive_reward_commission_rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsMainImages": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "The image height in pixels"
          },
          "url": {
            "type": "string",
            "description": "The image\\'s URL"
          },
          "width": {
            "type": "number",
            "description": "The image width in pixels"
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPrice": {
        "type": "object",
        "properties": {
          "original_price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceOriginalPrice"
          },
          "platform_discount_price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPricePlatformDiscountPrice"
          },
          "seller_discount_price": {
            "$ref": "#/components/schemas/Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceSellerDiscountPrice"
          }
        },
        "required": [
          "original_price",
          "platform_discount_price",
          "seller_discount_price"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceOriginalPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The price currency"
          },
          "highest_amount": {
            "type": "string",
            "description": "The original highest SPU price of the product"
          },
          "lowest_amount": {
            "type": "string",
            "description": "The original lowest SPU price of the product"
          }
        },
        "required": [
          "currency",
          "highest_amount",
          "lowest_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPricePlatformDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The price currency"
          },
          "highest_amount": {
            "type": "string",
            "description": "The highest SPU price with platform discount of the product"
          },
          "lowest_amount": {
            "type": "string",
            "description": "The lowest SPU price with platform discount of the product"
          }
        },
        "required": [
          "currency",
          "highest_amount",
          "lowest_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsPriceSellerDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The price currency"
          },
          "highest_amount": {
            "type": "string",
            "description": "The highest SPU price with seller discount of the product"
          },
          "lowest_amount": {
            "type": "string",
            "description": "The lowest SPU price with seller discount of the product"
          }
        },
        "required": [
          "currency",
          "highest_amount",
          "lowest_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309GetShowcaseProductsoldResponseDataProductsStatus": {
        "type": "object",
        "properties": {
          "added_status": {
            "type": "string",
            "description": "The product\\'s added status in the showcase/livebag according to the provided origin in the request  Field values: NOT_ADDED: The product has not been added to showcase, or to the live stream if the origin field in the request is LIVE. ADDED: The product has been added to the showcase, or to the live room if the origin field in the request is LIVE. REJECTED: The product is rejected and can not be added."
          },
          "inventory_status": {
            "type": "string",
            "description": "The inventory status of the product Field values: IN_STOCK: The product is in stock SOLD_OUT: The product has been sold out"
          },
          "is_hidden": {
            "type": "boolean",
            "description": "Whether the product has been hidden by the creator"
          },
          "review_status": {
            "type": "string",
            "description": "The review status represents whether the merchant approves the creator of promoting this product.  Field values: APPROVED: The product is approved UNDER_REVIEW: The product is still under review CHANGES_UNDER_REVIEW: The updates to this product are still under review. UNAVAILABLE: The product is unavailable. REJECTED: The product is rejected. ZERO_COMMISSION: the product will not contribute to any commission."
          }
        },
        "required": [
          "added_status",
          "inventory_status",
          "is_hidden",
          "review_status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309RemoveShowcaseProductsoldRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The product IDs to delete from the creator\\'s showcase. The maximum number of products to delete at once is 200."
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309RemoveShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309TopShowcaseProductsoldRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The product IDs to move to the top in a creator\\'s showcase. If multiple products are provided, they will display according to the order passed in this parameter."
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202309TopShowcaseProductsoldResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202402CheckAnchorPrerequisitesRequestBody": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "Product id that wanted to been checked."
          }
        },
        "required": [
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202402CheckAnchorPrerequisitesResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202403CheckAnchorContentRequestBody": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "Anchor title that you want show in anchor."
          }
        },
        "required": [
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "Affiliate202403CheckAnchorContentResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "type": "object"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsRequestBody": {
        "type": "object",
        "properties": {
          "add_type": {
            "type": "string",
            "description": "Specifies how products are added to the showcase. This an enumerated type with values: - PRODUCT_ID - PRODUCT_LINK"
          },
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of product identifiers included if `add_type` is set to `PRODUCT_ID`. The products associated with the identifiers are added to the showcase. Maximum length of the list is 20 product identifiers."
          },
          "product_link": {
            "type": "string",
            "description": "A list of product URLs included if `add_type` is set to `PRODUCT_LINK`. The products associated with the URLs are added to the showcase. Maximum length of the list is 20 product URLs."
          }
        },
        "required": [
          "add_type",
          "product_ids",
          "product_link"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsResponseDataErrors"
            },
            "description": "A list of product showcase addition errors."
          }
        },
        "required": [
          "errors"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponseDataErrors": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The error code."
          },
          "detail": {
            "$ref": "#/components/schemas/AffiliateCreator202405AddShowcaseProductsResponseDataErrorsDetail"
          },
          "message": {
            "type": "string",
            "description": "A human-readable error message."
          }
        },
        "required": [
          "code",
          "detail",
          "message"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405AddShowcaseProductsResponseDataErrorsDetail": {
        "type": "object",
        "properties": {
          "product_id": {
            "type": "string",
            "description": "The product identifier."
          }
        },
        "required": [
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody": {
        "type": "object",
        "properties": {
          "category": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCategory"
          },
          "commission_rate_range": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCommissionRateRange"
          },
          "sales_price_range": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodySalesPriceRange"
          },
          "title_keywords": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of product keywords for searching. Product titles, or names, are loosely matched. Keywords in the list form a query and the resulting set of matching product names is based on the conjunctive operator `AND` between each keyword. For example, the keyword list `[\\\"Men\\\", \\\"Fashion\\\"]` creates a query `\\\"Men\\\" AND \\\"Fashion\\\"` and the resulting set of matching product names contains the loosely matched conjuction of \\\"Men\\\" and \\\"Fashion\\\" such as \\\"Male Fashionable\\\". Maximum length of the list is 20 keywords. Maximum keyword string length is 255 characters."
          }
        },
        "required": [
          "category",
          "commission_rate_range",
          "sales_price_range",
          "title_keywords"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCategory": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The category identifier. Note that only first-level categories are supported."
          }
        },
        "required": [
          "id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodyCommissionRateRange": {
        "type": "object",
        "properties": {
          "rate_ge": {
            "type": "number",
            "description": "The commission rate must be greater than this value in order to be included in the search results. The commission rate is expressed in hundredths of a percent. For example, `3587` is a commission rate of `35.87%`. This value must a minimum of `1000`."
          },
          "rate_lt": {
            "type": "number",
            "description": "The commission rate must be less than this value in order to be included in the search results. The commission rate is expressed in hundredths of a percent. For example, `3587` is a commission rate of `35.87%`. This value must a minimum of `1000`."
          }
        },
        "required": [
          "rate_ge",
          "rate_lt"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBodySalesPriceRange": {
        "type": "object",
        "properties": {
          "amount_ge": {
            "type": "string",
            "description": "The product price must be greater than this value in order to be included in the search results. The value must be greater than `0`."
          },
          "amount_lt": {
            "type": "string",
            "description": "The product price must be greater than this value in order to be included in the search results. The value must be greater than `0`. No upper bound is set if this property is not included."
          }
        },
        "required": [
          "amount_ge",
          "amount_lt"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string",
            "description": "An opaque token used to retrieve the next page of a paginated result set."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProducts"
            },
            "description": "A list of products."
          },
          "total_count": {
            "type": "number",
            "description": "Total count of products meeting the search criteria expressed in the request body."
          }
        },
        "required": [
          "next_page_token",
          "products",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProducts": {
        "type": "object",
        "properties": {
          "category_chains": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCategoryChains"
            },
            "description": "A list of categories associated with the product. Maximum length of the list is `3` categories."
          },
          "commission": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCommission"
          },
          "detail_link": {
            "type": "string",
            "description": "The URL for the product\\'s detail page."
          },
          "has_inventory": {
            "type": "boolean",
            "description": "Set to `true` if there are more than zero units of the product in inventory. Set to `false` if there are zero units in inventory."
          },
          "id": {
            "type": "string",
            "description": "The product identifier."
          },
          "main_image_url": {
            "type": "string",
            "description": "The product image URL."
          },
          "original_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsOriginalPrice"
          },
          "sale_region": {
            "type": "string",
            "description": "The region where the product is offered for sale."
          },
          "sales_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsSalesPrice"
          },
          "shop": {
            "$ref": "#/components/schemas/AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsShop"
          },
          "title": {
            "type": "string",
            "description": "The product name."
          },
          "units_sold": {
            "type": "number",
            "description": "Total number of units sold. Units are indexed to SKU. Note that if the creator has not given permission for precise data sharing, this property will not be present."
          }
        },
        "required": [
          "category_chains",
          "commission",
          "detail_link",
          "has_inventory",
          "id",
          "main_image_url",
          "original_price",
          "sale_region",
          "sales_price",
          "shop",
          "title",
          "units_sold"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCategoryChains": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The category identifier."
          },
          "is_leaf": {
            "type": "boolean",
            "description": "Set to `true` if this category is a leaf node. Set to `false` if not."
          },
          "local_name": {
            "type": "string",
            "description": "The name of the product in the category."
          },
          "parent_id": {
            "type": "string",
            "description": "The category identifier of the parent category."
          }
        },
        "required": [
          "id",
          "is_leaf",
          "local_name",
          "parent_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "The commission amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "rate": {
            "type": "number",
            "description": "The commission rate in hundredths of a percent. For example, `3587` is a commission rate of `35.87%`. This value must a minimum of `1000`.  The range of this value is [100, 8000]."
          }
        },
        "required": [
          "amount",
          "currency",
          "rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsOriginalPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "maximum_amount": {
            "type": "string",
            "description": "The highest original price of all SKUs of the product."
          },
          "minimum_amount": {
            "type": "string",
            "description": "The lowest original price of all SKUs of the product."
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsSalesPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "maximum_amount": {
            "type": "string",
            "description": "The highest promotion price of all SKUs of this product."
          },
          "minimum_amount": {
            "type": "string",
            "description": "The lowest promotion price of all SKUs of this product."
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405CreatorSearchOpenCollaborationProductResponseDataProductsShop": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The TikTok Shop name."
          }
        },
        "required": [
          "name"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetCreatorProfileResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetCreatorProfileResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetCreatorProfileResponseData": {
        "type": "object",
        "properties": {
          "avatar": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetCreatorProfileResponseDataAvatar"
          },
          "creator_user_id": {
            "type": "string",
            "description": "The creator\\'s TikTok user identifier."
          },
          "permissions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of product promotion permissions for the creator. The list can include zero or more of the following permissions: - LIVE_STREAM_PERMISSION - SELF_SALE_PERMISSION - ADD_AFFILIATE_PERMISSION"
          },
          "register_region": {
            "type": "string",
            "description": "The region in which the creator\\'s TikTok account is registered."
          },
          "selection_region": {
            "type": "string",
            "description": "The regions in which the creator is eligible to promote products in showcases, videos, and live streams."
          },
          "seller_type": {
            "type": "string",
            "description": "If the creator is also also has a TikTok Shop seller account, the seller type of the creator. This is an enumerated type with values: - CROSS_BORDER - LOCAL"
          },
          "user_type": {
            "type": "string",
            "description": "The creator\\'s user type. This is an enumerated type with values: - TIKTOK_SHOP_OFFICIAL_ACCOUNT - TIKTOK_MARKETING_ACCOUNT - TIKTOK_SHOP_CREATOR"
          },
          "username": {
            "type": "string",
            "description": "The TikTok user name."
          }
        },
        "required": [
          "avatar",
          "creator_user_id",
          "permissions",
          "register_region",
          "selection_region",
          "seller_type",
          "user_type",
          "username"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetCreatorProfileResponseDataAvatar": {
        "type": "object",
        "properties": {
          "height": {
            "type": "number",
            "description": "The avatar image height in pixels."
          },
          "url": {
            "type": "string",
            "description": "The URL for the TikTok creator\\'s avatar image file."
          },
          "width": {
            "type": "number",
            "description": "The avatar image width in pixels."
          }
        },
        "required": [
          "height",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string",
            "description": "An opaque token used to retrieve the next page of a paginated result set."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProducts"
            },
            "description": "A list of products."
          },
          "total_count": {
            "type": "number",
            "description": "Total count of products in the response."
          }
        },
        "required": [
          "next_page_token",
          "products",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProducts": {
        "type": "object",
        "properties": {
          "addition": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsAddition"
          },
          "collaboration": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaboration"
          },
          "commission": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsCommission"
          },
          "detail_link": {
            "type": "string",
            "description": "The product detail page URL."
          },
          "id": {
            "type": "string",
            "description": "The product\\'s product ID"
          },
          "main_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsMainImages"
            },
            "description": "A list of product images."
          },
          "price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPrice"
          },
          "sale_regions": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of regions in which the product is offered for sale."
          },
          "shop": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsShop"
          },
          "source": {
            "type": "string",
            "description": "The product source. This is an enumerated type with values: - THIRD_PARTY - AFFILIATE - TIKTOK_STORE"
          },
          "status": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsStatus"
          },
          "third_party_link": {
            "type": "string",
            "description": "The off-TikTok Shop product detail page URL."
          },
          "title": {
            "type": "string",
            "description": "The product\\'s display title."
          }
        },
        "required": [
          "addition",
          "collaboration",
          "commission",
          "detail_link",
          "id",
          "main_images",
          "price",
          "sale_regions",
          "shop",
          "source",
          "status",
          "third_party_link",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsAddition": {
        "type": "object",
        "properties": {
          "customized_main_images": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsAdditionCustomizedMainImages"
            },
            "description": "A list of product images."
          }
        },
        "required": [
          "customized_main_images"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsAdditionCustomizedMainImages": {
        "type": "object",
        "properties": {
          "heigth": {
            "type": "number",
            "description": "The image height in pixels."
          },
          "url": {
            "type": "string",
            "description": "The product\\'s TikTok Shop image URL."
          },
          "width": {
            "type": "number",
            "description": "The image width in pixels."
          }
        },
        "required": [
          "heigth",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaboration": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The open or target collaboration identifier."
          },
          "partner": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaborationPartner"
          },
          "type": {
            "type": "string",
            "description": "The collaboration type. This an enumerated type with values: 1 - Open Collaboration 2 - Target Collaboration 5 - Partner Campaign"
          }
        },
        "required": [
          "id",
          "partner",
          "type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsCollaborationPartner": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The partner identifier."
          },
          "name": {
            "type": "string",
            "description": "The partner name."
          }
        },
        "required": [
          "id",
          "name"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsCommission": {
        "type": "object",
        "properties": {
          "rate": {
            "type": "number",
            "description": "The commission rate in hundredths of a percent. For example, `3587` is a commission rate of `35.87%`. The range of this value is [100, 8000]."
          },
          "reward_rate": {
            "type": "number",
            "description": "The reward commission rate in hundredths of a percent. For example, `3587` is a commission rate of `35.87%`."
          }
        },
        "required": [
          "rate",
          "reward_rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsMainImages": {
        "type": "object",
        "properties": {
          "heigth": {
            "type": "number",
            "description": "The image height in pixels."
          },
          "url": {
            "type": "string",
            "description": "The product\\'s TikTok Shop image URL."
          },
          "width": {
            "type": "number",
            "description": "The image width in pixels."
          }
        },
        "required": [
          "heigth",
          "url",
          "width"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPrice": {
        "type": "object",
        "properties": {
          "original_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceOriginalPrice"
          },
          "platform_discount_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPricePlatformDiscountPrice"
          },
          "seller_discount_price": {
            "$ref": "#/components/schemas/AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceSellerDiscountPrice"
          }
        },
        "required": [
          "original_price",
          "platform_discount_price",
          "seller_discount_price"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceOriginalPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "maximum_amount": {
            "type": "string",
            "description": "The highest original price for the product."
          },
          "minimum_amount": {
            "type": "string",
            "description": "The lowest original price for the product."
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPricePlatformDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "maximum_amount": {
            "type": "string",
            "description": "The highest product platform discount price."
          },
          "minimum_amount": {
            "type": "string",
            "description": "The lowest product platform discount price."
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsPriceSellerDiscountPrice": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "maximum_amount": {
            "type": "string",
            "description": "The highest discount price."
          },
          "minimum_amount": {
            "type": "string",
            "description": "The lowest discount price."
          }
        },
        "required": [
          "currency",
          "maximum_amount",
          "minimum_amount"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsShop": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The TikTok Shop name."
          }
        },
        "required": [
          "name"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405GetShowcaseProductsResponseDataProductsStatus": {
        "type": "object",
        "properties": {
          "added_status": {
            "type": "string",
            "description": "The product showcase status. This is an enumerated type with values: - NOT_ADDED - ADDED - REJECTED"
          },
          "inventory_status": {
            "type": "string",
            "description": "The product inventory status. This an enumerated type with values: - IN_STOCK - SOLD_OUT"
          },
          "is_hidden": {
            "type": "boolean",
            "description": "Set to `false` if the product is visible in the showcase. Set to `true` if the product is hidden from the showcase."
          },
          "review_status": {
            "type": "string",
            "description": "The product review status. This is an enumerated type with values: - APPROVED - CHANGES_UNDER_REVIEW - UNAVAILABLE - ZERO_COMMISSION"
          }
        },
        "required": [
          "added_status",
          "inventory_status",
          "is_hidden",
          "review_status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorAffiliateOrdersResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string",
            "description": "Next page token"
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrders"
            },
            "description": "Order information"
          },
          "total_count": {
            "type": "number",
            "description": "Total count of main orders that meet the query criteria."
          }
        },
        "required": [
          "next_page_token",
          "orders",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrders": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Main order identifier ID"
          },
          "line_items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrdersLineItems"
            },
            "description": "Line item info list"
          }
        },
        "required": [
          "id",
          "line_items"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorAffiliateOrdersResponseDataOrdersLineItems": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Line item ID"
          },
          "product_id": {
            "type": "string",
            "description": "Product ID in the order. We return the product ID, because within an order, there could be multiple products (one, some, or all) which are affiliate commission earning products."
          }
        },
        "required": [
          "id",
          "product_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody": {
        "type": "object",
        "properties": {
          "keyword": {
            "type": "string",
            "description": "Target collaborations in the response are restricted to the expressed name."
          },
          "keyword_type": {
            "type": "string",
            "description": "Target collaborations in the response are restricted to the the expressed type. This is an enumerated wtype with values: - TARGET_COLLABORATIONS_ID - TARGET_COLLABORATIONS_NAME  `TARGET_COLLABORATIONS_ID` returns target collaborations with state set to `LIVE`, `EXPIRED`, `DELETED`, and `ENDED`.   `TARGET_COLLABORATIONS_NAME` returns target collaborations with state set to `LIVE` only."
          },
          "shop_id": {
            "type": "string",
            "description": "The TikTok Shop identifier."
          }
        },
        "required": [
          "keyword",
          "keyword_type",
          "shop_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string",
            "description": "An opaque token used to retrieve the next page of a paginated result set."
          },
          "target_collaborations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborations"
            },
            "description": "A list of target collaboration objects."
          },
          "total_count": {
            "type": "number",
            "description": "The total number of target collaboration groups in the response."
          }
        },
        "required": [
          "next_page_token",
          "target_collaborations",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborations": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The target collaboration identifier."
          },
          "name": {
            "type": "string",
            "description": "The target collaboration name."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProducts"
            },
            "description": "A list of products associated with the target collaboration."
          },
          "status": {
            "type": "string",
            "description": "The target collaboration state. This is an enumerated type with values: - LIVE - EXPIRED - DELETED - ENDED"
          }
        },
        "required": [
          "id",
          "name",
          "products",
          "status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProducts": {
        "type": "object",
        "properties": {
          "commission": {
            "$ref": "#/components/schemas/AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProductsCommission"
          },
          "id": {
            "type": "string",
            "description": "The product identifier."
          },
          "main_image_url": {
            "type": "string",
            "description": "The product image URL in the TikTok Shop."
          },
          "title": {
            "type": "string",
            "description": "The product name."
          }
        },
        "required": [
          "commission",
          "id",
          "main_image_url",
          "title"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202405SearchCreatorTargetCollaborationsResponseDataTargetCollaborationsProductsCommission": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "string",
            "description": "The total amount paid in commission paid for this this product."
          },
          "currency": {
            "type": "string",
            "description": "The currency code."
          },
          "rate": {
            "type": "number",
            "description": "The commission rate for the target collaboration in hundredths of a percent. For example, `3587` is a commission rate of `35.87%`."
          }
        },
        "required": [
          "amount",
          "currency",
          "rate"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkRequestBody": {
        "type": "object",
        "properties": {
          "channel": {
            "type": "string",
            "description": "The customized promotion channel"
          },
          "material": {
            "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkRequestBodyMaterial"
          },
          "tags": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The parameter provided for creator to record his own tracking info"
          }
        },
        "required": [
          "channel",
          "material",
          "tags"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkRequestBodyMaterial": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The ID of product/campiagn/showcase that our partner wants to promote. We use this material id to generate the sharing link"
          },
          "type": {
            "type": "string",
            "description": "For the mvp version, we only use product type, but we have 3 types in total: PRODUCT CAMPAIGN SHOWCASE"
          }
        },
        "required": [
          "id",
          "type"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseData": {
        "type": "object",
        "properties": {
          "affiliate_sharing_links": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataAffiliateSharingLinks"
            },
            "description": "Generated affiliate links for each Tag"
          },
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrors"
            },
            "description": "Specific error(if have) for each tagString(if have)"
          }
        },
        "required": [
          "affiliate_sharing_links",
          "errors"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataAffiliateSharingLinks": {
        "type": "object",
        "properties": {
          "affiliate_sharing_link": {
            "type": "string",
            "description": "Affiliate short link, use www.tiktok.com as domain"
          },
          "tag": {
            "type": "string",
            "description": "one of tags in request"
          }
        },
        "required": [
          "affiliate_sharing_link",
          "tag"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrors": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "Failed status code--only for partial fail"
          },
          "detail": {
            "$ref": "#/components/schemas/AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrorsDetail"
          },
          "message": {
            "type": "string",
            "description": "Failed status msg--only for partial fail"
          }
        },
        "required": [
          "code",
          "detail",
          "message"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202407GenerateAffiliateSharingLinkResponseDataErrorsDetail": {
        "type": "object",
        "properties": {
          "fail_reason": {
            "type": "string",
            "description": "Detail fail reason for specific tag"
          },
          "tag": {
            "type": "string",
            "description": "Same as description in request params"
          }
        },
        "required": [
          "fail_reason",
          "tag"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsRequestBody": {
        "type": "object",
        "properties": {
          "fulfillment_statuses": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "A list of fulfillment statuses. The response is filtered to include sample fulfillments with the fulfillment_status field set to one of the specified values.  The possible values are: - PENDING: The creator has not yet fulfilled the content creation obligation. - ONGOING: Fulfillment is in progress; content has been created and is being evaluated against criteria. - SUCCEED: Fulfillment has been successfully completed; the content meets the required standards. - FAILED: Fulfillment failed; the content did not meet the required standards. - OVERDUE: Fulfillment is overdue; the creator did not meet the deadline. - SUSPEND: Fulfillment has been suspended. - CANCELLED: Fulfillment has been cancelled, either by the creator or due to operational reasons. - EXEMPTED: The creator is exempt from the fulfillment obligation."
          }
        },
        "required": [
          "fulfillment_statuses"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseData": {
        "type": "object",
        "properties": {
          "fulfillments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseDataFulfillments"
            },
            "description": "Creator fulfillment contents."
          }
        },
        "required": [
          "fulfillments"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409CreatorSearchSampleApplicationFulfillmentsResponseDataFulfillments": {
        "type": "object",
        "properties": {
          "application_id": {
            "type": "string",
            "description": "The sample application identifier."
          },
          "bound_product_status": {
            "type": "string",
            "description": "The marketing status of the product associated with the fulfillment order. This is an enumerated type with values: - UNKNOWN: The marketing status of the product is unknown. - LIVE: The product is available for fulfillment. - OUT_OF_STOCK: The product is out of stock and cannot be fulfilled. - SELLER_DEACTIVATE: The product has been deactivated by the seller. - PLATFORM_DEACTIVATE: The product has been deactivated by the platform. - NO_PLAN: There is no valid plan available for the creator to market the product. - PERMANENT_DELETED: The product has been permanently deleted and is no longer available."
          },
          "expiration_time": {
            "type": "number",
            "description": "Fulfillment deadline timestamp. Usually the value is  `{you_receiving_sample_time} + 14Days`. But if you apply for fulfillment suspension, the value is `{you_receiving_sample_time} + 14Days + total_suspend_duration`."
          },
          "id": {
            "type": "string",
            "description": "The fulfillment identifier."
          },
          "product_id": {
            "type": "string",
            "description": "The product identifier."
          },
          "sample_application_type": {
            "type": "string",
            "description": "The type of the sample application. This is an enumerated type with values: - FREE_SAMPLE - SAMPLE_COUPON - SAMPLE_CAMPAIGN - PLATFORM_FREE_SAMPLE"
          },
          "shop_id": {
            "type": "string",
            "description": "The TikTok Shop identifier."
          },
          "status": {
            "type": "string",
            "description": "The fulfillment status.This is an enumerated type with values: - PENDING: The creator has not yet fulfilled the content creation obligation. - ONGOING: Fulfillment is in progress; content has been created and is being evaluated against criteria. - SUCCEED: Fulfillment has been successfully completed; the content meets the required standards. - FAILED: Fulfillment failed; the content did not meet the required standards. - OVERDUE: Fulfillment is overdue; the creator did not meet the deadline.SUSPEND: Fulfillment has been suspended. - CANCELLED: Fulfillment has been cancelled, either by the creator or due to operational reasons. - EXEMPTED: The creator is exempt from the fulfillment obligation."
          },
          "total_suspend_duration": {
            "type": "number",
            "description": "The duration you applied for fulfillment suspension in seconds."
          }
        },
        "required": [
          "application_id",
          "bound_product_status",
          "expiration_time",
          "id",
          "product_id",
          "sample_application_type",
          "shop_id",
          "status",
          "total_suspend_duration"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409RemoveShowcaseProductsRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The product IDs to remove from the creator\\'s showcase. The maximum number of products to delete at once is 200."
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409RemoveShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202409RemoveShowcaseProductsResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409RemoveShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages are returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Every request generates a unique request_id for logging purposes."
          }
        },
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409TopShowcaseProductsRequestBody": {
        "type": "object",
        "properties": {
          "product_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The product IDs to move to the top in a creator\\'s showcase. If multiple products are provided, they will display according to the order passed in this parameter."
          }
        },
        "required": [
          "product_ids"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409TopShowcaseProductsResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202409TopShowcaseProductsResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202409TopShowcaseProductsResponseData": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages are returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Every request generates a unique request_id for logging purposes."
          }
        },
        "required": [
          "code",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersRequestBody": {
        "type": "object",
        "properties": {
          "create_time_ge": {
            "type": "number",
            "description": "Filter orders to show only those that are created on or after the specified date and time. Unix timestamp.  Note: `create_time_ge` and `create_time_lt` together constitute the creation time filter condition. - If `create_time_ge` is filled but `create_time_lt` is empty, `create_time_lt` will default to the current time. - If `create_time_lt` is filled but `create_time_ge` is empty, `create_time_ge` will default to the earliest shop time."
          },
          "create_time_lt": {
            "type": "number",
            "description": "Filter orders to show only those that are created before the specified date and time. Unix timestamp. Refer to notes in `create_time_ge` for more usage information."
          }
        },
        "required": [
          "create_time_ge",
          "create_time_lt"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponse": {
        "type": "object",
        "properties": {
          "code": {
            "type": "number",
            "description": "The success or failure status code returned in API response."
          },
          "data": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseData"
          },
          "message": {
            "type": "string",
            "description": "The success or failure messages returned in API response. Reasons of failure will be described in the message."
          },
          "request_id": {
            "type": "string",
            "description": "Request log."
          }
        },
        "required": [
          "code",
          "data",
          "message",
          "request_id"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseData": {
        "type": "object",
        "properties": {
          "next_page_token": {
            "type": "string",
            "description": "An opaque token used to retrieve the next page of a paginated result set."
          },
          "orders": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrders"
            },
            "description": "The order resource."
          },
          "total_count": {
            "type": "number",
            "description": "Total count of orders in the response."
          }
        },
        "required": [
          "next_page_token",
          "orders",
          "total_count"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrders": {
        "type": "object",
        "properties": {
          "create_time": {
            "type": "number",
            "description": "Time and date of order created, UTC+0 timing"
          },
          "delivery_time": {
            "type": "number",
            "description": "Time and date order delivered, UTC+0 timing"
          },
          "id": {
            "type": "string",
            "description": "The order identifier."
          },
          "skus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkus"
            },
            "description": "A list of SKUs associated with the order."
          },
          "status": {
            "type": "string",
            "description": "The current status of the order. Possible options are: - UNSPECIFIED: The status of the order is undefined. It might be updated later. - ORDERED: The order has been placed, but the commission has not been settled. But an estimated commission is available. - SETTLED: The commission of the order is already settled. - REFUNDED: The order has been returned/refunded/canceled by the buyer, and no commission will be settled. - FROZEN: Possible fraud has been detected regarding the order. The commission will be unfrozen after the fraud is resolved. - DEDUCTED: Additional deduction from your balance account."
          }
        },
        "required": [
          "create_time",
          "delivery_time",
          "id",
          "skus",
          "status"
        ],
        "description": "tiktok shop openapi sdk for apis  The version of the OpenAPI document: 1.0.0"
      },
      "AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkus": {
        "type": "object",
        "properties": {
          "actual_bonus_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualBonusCommission"
          },
          "actual_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCommission"
          },
          "actual_commission_base": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCommissionBase"
          },
          "actual_creator_commission_reward_fee": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualCreatorCommissionRewardFee"
          },
          "actual_shop_ads_commission": {
            "$ref": "#/components/schemas/AffiliateCreator202410SearchCreatorAffiliateOrdersResponseDataOrdersSkusActualShopAdsCommission"
          },
          "campaign_id": {
            "type": "string",
            "description": "The campaign identifier associated with the order."
          },
          "commission_bonus_rate": {
            "type": "number",
            "description": "The commission bonus rate associated with the collaboration. Expressed in units of hundredths of a percent formatted as a string. The percent sign % is not included in the string. For example, 3000 represents a 30% commission."
          },
          "commission_model": {
            "type": "string",
            "description": "Determine order commission be calculated based on fixed commission model or tiering model"
          },
          "commission_rate": {
            "type": "number",
            "description": "The commission rate associated with the collaboration. Expressed in units of hundredths of a percent formatted as a string. The percent sign % is not included in the string. For example, 3000 represents a 30% commission."
          },
          "commission_tier_setting": {
            "type": "string",
            "description": "Between Seller & Creator percentagecommission. When tiering commission model applied, will return each tier\\'s commission rate seller set."
          },
          "content_id": {
            "type": "string",
            "description": "The content identifier for the creator content through which the order was created."
          },
          "content_type": {
            "type": "string",
            "description": "The content format of the creator content through which the order was created. Possible values: - SHOP - VIDEO - LIVE - PRE_LIVE - PROMOTION_PAGE - LINKSHARE"
          },
[...]
