{
  "openapi": "3.0.0",
  "info": {
    "title": "TikTok Shop OpenAPI",
    "description": "SDK for TikTok Shop APIs",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://open-api.tiktokglobalshop.com",
      "description": "TikTok Shop API Server"
    }
  ],
  "paths": {
    "/affiliate_creator/202405/open_collaborations/products/search": {
      "post": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "sdk for apis",
        "operationId": "OpenCollaborationsProductsSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "description": "The value of 'page_size' must be 12 or 20",
            "schema": {
              "type": "number",
              "enum": [
                12,
                20
              ]
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "description": "Access token for TikTok Shop API",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "description": "Allowed type: application/json",
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorSearchOpenCollaborationProductRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSearchOpenCollaborationProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/orders/search": {
      "post": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "sdk for apis",
        "operationId": "OrdersSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCreatorAffiliateOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/profiles": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "ProfilesGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreatorProfileResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/showcases/products/add": {
      "post": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "sdk for apis",
        "operationId": "ShowcasesProductsAddPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddShowcaseProductsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AddShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/showcases/products": {
      "get": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202405AddShowcaseProductsRequestBody } from '../model/affiliateCreator/V202405/AddShowcaseProductsRequestBody';\nimport { AffiliateCreator202405AddShowcaseProductsResponse } from '../model/affiliateCreator/V202405/AddShowcaseProductsResponse';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductRequestBody } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductRequestBody';\nimport { AffiliateCreator202405CreatorSearchOpenCollaborationProductResponse } from '../model/affiliateCreator/V202405/CreatorSearchOpenCollaborationProductResponse';\nimport { AffiliateCreator202405GetCreatorProfileResponse } from '../model/affiliateCreator/V202405/GetCreatorProfileResponse';\nimport { AffiliateCreator202405GetShowcaseProductsResponse } from '../model/affiliateCreator/V202405/GetShowcaseProductsResponse';\nimport { AffiliateCreator202405SearchCreatorAffiliateOrdersResponse } from '../model/affiliateCreator/V202405/SearchCreatorAffiliateOrdersResponse';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsRequestBody } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsRequestBody';\nimport { AffiliateCreator202405SearchCreatorTargetCollaborationsResponse } from '../model/affiliateCreator/V202405/SearchCreatorTargetCollaborationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202405ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API is used to search the information of products with open collaboration by category, commission rate, and keywords. It will return all products on the TikTok Shop Affiliate Product Marketplace that are in an open collaboration. Creators can only search for open collaboration within the regions they are registered in the affiliate.",
        "operationId": "ShowcasesProductsGet",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202405/target_collaborations/search": {
      "post": {
        "summary": "CreatorSearchOpenCollaborationProduct",
        "description": "sdk for apis",
        "operationId": "TargetCollaborationsSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCreatorTargetCollaborationsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCreatorTargetCollaborationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202407/affiliate_sharing_links/generate_batch": {
      "post": {
        "summary": "GenerateAffiliateSharingLink",
        "description": "sdk for apis",
        "operationId": "AffiliateSharingLinksGenerateBatchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAffiliateSharingLinkRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAffiliateSharingLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202409/sample_applications/fulfillments/search": {
      "post": {
        "summary": "CreatorSearchSampleApplicationFulfillments",
        "description": "sdk for apis",
        "operationId": "SampleApplicationsFulfillmentsSearchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorSearchSampleApplicationFulfillmentsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSearchSampleApplicationFulfillmentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202409/showcases/products": {
      "post": {
        "summary": "CreatorSearchSampleApplicationFulfillments",
        "description": "sdk for apis",
        "operationId": "ShowcasesProductsDelete",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemoveShowcaseProductsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RemoveShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202409/showcases/products/top": {
      "post": {
        "summary": "CreatorSearchSampleApplicationFulfillments",
        "description": "sdk for apis",
        "operationId": "ShowcasesProductsTopPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TopShowcaseProductsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TopShowcaseProductsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202410/orders/search": {
      "post": {
        "summary": "SearchCreatorAffiliateOrders",
        "description": "sdk for apis",
        "operationId": "OrdersSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCreatorAffiliateOrdersRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCreatorAffiliateOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202412/sample_applications/search": {
      "post": {
        "summary": "SearchCreatorSampleApplications",
        "description": "sdk for apis",
        "operationId": "SampleApplicationsSearchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "description": "Pagination offset determines where you begin to search for. It's empty when raise your first request",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchCreatorSampleApplicationsRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchCreatorSampleApplicationsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202412/sample_applications/single_query": {
      "post": {
        "summary": "SearchCreatorSampleApplications",
        "description": "sdk for apis",
        "operationId": "SampleApplicationsSingleQueryPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreatorSampleApplicationDetailRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreatorSampleApplicationDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202412/samples/labels": {
      "get": {
        "summary": "SearchCreatorSampleApplications",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliateCreator202412GetCreatorApplicableSampleLabelResponse } from '../model/affiliateCreator/V202412/GetCreatorApplicableSampleLabelResponse';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailRequestBody } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailRequestBody';\nimport { AffiliateCreator202412GetCreatorSampleApplicationDetailResponse } from '../model/affiliateCreator/V202412/GetCreatorSampleApplicationDetailResponse';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsRequestBody } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsRequestBody';\nimport { AffiliateCreator202412SearchCreatorSampleApplicationsResponse } from '../model/affiliateCreator/V202412/SearchCreatorSampleApplicationsResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliateCreatorV202412ApiApiKeys {\n}\n\nexport class AffiliateCreatorV202412Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliateCreatorV202412Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliateCreatorV202412ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliateCreatorV202412ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      Get sample application list of creator.",
        "operationId": "SamplesLabelsGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreatorApplicableSampleLabelResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202501/affiliate_sharing_links/generate_batch": {
      "post": {
        "summary": "GenerateAffiliateSharingLink",
        "description": "sdk for apis",
        "operationId": "AffiliateSharingLinksGenerateBatchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAffiliateSharingLinkRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAffiliateSharingLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_creator/202501/selection/products/search": {
      "post": {
        "summary": "GenerateAffiliateSharingLink",
        "description": "sdk for apis",
        "operationId": "SelectionProductsSearchPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatorSelectAffiliateProductRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatorSelectAffiliateProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}": {
      "get": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkRequestBody } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkRequestBody';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkResponse } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignDetailResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignDetailResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignListResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignProductListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignProductListResponse';\nimport { AffiliatePartner202405PublishAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/PublishAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductRequestBody } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductRequestBody';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductResponse } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliatePartnerV202405ApiApiKeys {\n}\n\nexport class AffiliatePartnerV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliatePartnerV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliatePartnerV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliatePartnerV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API offers the ability to get affiliate campaign details.",
        "operationId": "CampaignsCampaignIdGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliatePartnerCampaignDetailResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/partial_edit": {
      "post": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "sdk for apis",
        "operationId": "CampaignsCampaignIdPartialEditPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/EditAffiliatePartnerCampaignRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EditAffiliatePartnerCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/products": {
      "get": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405CreateAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/CreateAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignRequestBody } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignRequestBody';\nimport { AffiliatePartner202405EditAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/EditAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkRequestBody } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkRequestBody';\nimport { AffiliatePartner202405GenerateAffiliatePartnerCampaignProductLinkResponse } from '../model/affiliatePartner/V202405/GenerateAffiliatePartnerCampaignProductLinkResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignDetailResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignDetailResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignListResponse';\nimport { AffiliatePartner202405GetAffiliatePartnerCampaignProductListResponse } from '../model/affiliatePartner/V202405/GetAffiliatePartnerCampaignProductListResponse';\nimport { AffiliatePartner202405PublishAffiliatePartnerCampaignResponse } from '../model/affiliatePartner/V202405/PublishAffiliatePartnerCampaignResponse';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductRequestBody } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductRequestBody';\nimport { AffiliatePartner202405ReviewAffiliatePartnerCampaignProductResponse } from '../model/affiliatePartner/V202405/ReviewAffiliatePartnerCampaignProductResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliatePartnerV202405ApiApiKeys {\n}\n\nexport class AffiliatePartnerV202405Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliatePartnerV202405Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliatePartnerV202405ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliatePartnerV202405ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API offers the ability to get affiliate campaign details.",
        "operationId": "CampaignsCampaignIdProductsGet",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliatePartnerCampaignProductListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/products/{product_id}/promotion_link/generate": {
      "post": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "sdk for apis",
        "operationId": "CampaignsCampaignIdProductsProductIdPromotionLinkGeneratePost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateAffiliatePartnerCampaignProductLinkRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateAffiliatePartnerCampaignProductLinkResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/products/{product_id}/review": {
      "post": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "sdk for apis",
        "operationId": "CampaignsCampaignIdProductsProductIdReviewPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReviewAffiliatePartnerCampaignProductRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReviewAffiliatePartnerCampaignProductResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns/{campaign_id}/publish": {
      "post": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "sdk for apis",
        "operationId": "CampaignsCampaignIdPublishPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublishAffiliatePartnerCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202405/campaigns": {
      "post": {
        "summary": "GetAffiliatePartnerCampaignDetail",
        "description": "sdk for apis",
        "operationId": "CampaignsPost",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAffiliatePartnerCampaignRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAffiliatePartnerCampaignResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202411/orders/search": {
      "post": {
        "summary": "SearchTapAffiliateOrders",
        "description": "sdk for apis",
        "operationId": "OrdersSearchPost",
        "parameters": [
          {
            "name": "page_size",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SearchTapAffiliateOrdersRequestBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchTapAffiliateOrdersResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202501/campaigns/{campaign_id}/products/performance": {
      "get": {
        "summary": "GetAffiliateCampaignCreatorFulfillmentStatusList",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorFulfillmentStatusInfoResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorFulfillmentStatusInfoResponse';\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorFulfillmentStatusListResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorFulfillmentStatusListResponse';\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorProductContentStatisticsResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorProductContentStatisticsResponse';\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorProductSampleStatusResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorProductSampleStatusResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliatePartnerV202501ApiApiKeys {\n}\n\nexport class AffiliatePartnerV202501Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliatePartnerV202501Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliatePartnerV202501ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliatePartnerV202501ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API offers the ability to get the product of the campaign fulfillment status for creators who added partner campaign products to their showcase. For details of a specified product involved in an affiliated campaign, use Get Affiliate Campaign Creator Fulfillment Status Info gateway.",
        "operationId": "CampaignsCampaignIdProductsPerformanceGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "page_token",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateCampaignCreatorFulfillmentStatusListResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202501/campaigns/{campaign_id}/products/{product_id}/creator/{creator_temp_id}/content/statistics": {
      "get": {
        "summary": "GetAffiliateCampaignCreatorFulfillmentStatusList",
        "description": "tiktok shop openapi\n  sdk for apis\n \n  The version of the OpenAPI document: 1.0.0\n  \n \n  NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).\n  https://openapi-generator.tech\n  Do not edit the class manually.\n /\n\n\nimport localVarRequest from 'request';\nimport http from 'http';\n\n/ tslint:disable:no-unused-locals /\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorFulfillmentStatusInfoResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorFulfillmentStatusInfoResponse';\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorFulfillmentStatusListResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorFulfillmentStatusListResponse';\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorProductContentStatisticsResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorProductContentStatisticsResponse';\nimport { AffiliatePartner202501GetAffiliateCampaignCreatorProductSampleStatusResponse } from '../model/affiliatePartner/V202501/GetAffiliateCampaignCreatorProductSampleStatusResponse';\n\nimport { ObjectSerializer, Authentication, VoidAuth, Interceptor } from '../model/models';\n\nimport { HttpError, RequestFile } from './apis';\n\nlet defaultBasePath = 'https://open-api.tiktokglobalshop.com';\n\n// ===============================================\n// This file is autogenerated - Please do not edit\n// ===============================================\n\nexport enum AffiliatePartnerV202501ApiApiKeys {\n}\n\nexport class AffiliatePartnerV202501Api {\n    protected _basePath = defaultBasePath;\n    protected _defaultHeaders : any = {};\n    protected _useQuerystring : boolean = false;\n\n    static readonly apiName = 'AffiliatePartnerV202501Api' as const;\n\n    protected authentications = {\n        'default': <Authentication>new VoidAuth(),\n    }\n\n    protected interceptors: Interceptor[] = [];\n\n    constructor(basePath?: string);\n    constructor(basePathOrUsername: string, password?: string, basePath?: string) {\n        if (password) {\n            if (basePath) {\n                this.basePath = basePath;\n            }\n        } else {\n            if (basePathOrUsername) {\n                this.basePath = basePathOrUsername\n            }\n        }\n    }\n\n    set useQuerystring(value: boolean) {\n        this._useQuerystring = value;\n    }\n\n    set basePath(basePath: string) {\n        this._basePath = basePath;\n    }\n\n    set defaultHeaders(defaultHeaders: any) {\n        this._defaultHeaders = defaultHeaders;\n    }\n\n    get defaultHeaders() {\n        return this._defaultHeaders;\n    }\n\n    get basePath() {\n        return this._basePath;\n    }\n\n    public setDefaultAuthentication(auth: Authentication) {\n        this.authentications.default = auth;\n    }\n\n    public setApiKey(key: AffiliatePartnerV202501ApiApiKeys, value: string) {\n        (this.authentications as any)[AffiliatePartnerV202501ApiApiKeys[key]].apiKey = value;\n    }\n\n    public addInterceptor(interceptor: Interceptor) {\n        this.interceptors.push(interceptor);\n    }\n\n    /\n      This API offers the ability to get the product of the campaign fulfillment status for creators who added partner campaign products to their showcase. For details of a specified product involved in an affiliated campaign, use Get Affiliate Campaign Creator Fulfillment Status Info gateway.",
        "operationId": "CampaignsCampaignIdProductsProductIdCreatorCreatorTempIdContentStatisticsGet",
        "parameters": [
          {
            "name": "x-tts-access-token",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Content-Type",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "application/json"
              ]
            }
          },
          {
            "name": "app_key",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Every single app will have a unique key. Please use the specific key assigned to your app"
          },
          {
            "name": "sign",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Signature generated by gen algorithm. When you send API requests to TTS, you must sign them so that TTS can identify the senders"
          },
          {
            "name": "timestamp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Unix timestamp GMT (UTC+00:00). This timestamp is used across all API requests. Developers can use this to convert to local time"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAffiliateCampaignCreatorProductContentStatisticsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "BearerAuth": []
          }
        ]
      }
    },
    "/affiliate_partner/202501/campaigns/{campaign_id}/products/{product_id}/creator/{creator_temp_id}/content/statistics/sample/status": {
      "get": {
        "summary": "GetAffiliateCampaignCreatorFulfillmentStatusList",
[...]
